
/// @access public
@mixin elliptical-icons(){
  @include core-icons();
  @include content-icons();
}

/// @access public
@mixin elliptical-document(){
  @include document-reset();
}

/// @access public
@mixin elliptical-typography(){
  @include typography-reset();
  @include typography-header();
  @include typography-header-margins();
}

/// @access public
@mixin elliptical-buttons(){
  @include ui-buttons();
  @include ui-dropdown();
}

/// @access public
@mixin elliptical-notification(){
  @include ui-loading();
  @include ui-notification();
}

/// @access public
@mixin elliptical-forms(){
  @include form-base();
  @include form-input();
  @include ui-select();
  @include ui-search();
}

/// @access public
@mixin elliptical-grid(){
  @include grid();
}

/// @access public
@mixin elliptical-semantic(){
  @include semantic-components();
}

/// @access public
@mixin elliptical-convenience-mixins(){
  @include mixins-convenience();
  @include mixins-hardware-acceleration();
  @include mixins-visibility();
}

/// @access public
@mixin elliptical-mixins(){
  @include elliptical-convenience-mixins();
  @include mixins-classes();
  @include grid-classes();
  @include mixins-color();
  @include responsive-size();
  @include responsive-flex();
  @include mixins-touch();
}

/// @access public
@mixin elliptical-animations(){
  @include animations-base();
  @include animations-fade();
  @include animations-slide();
}

//bare minimum
/// @access public
@mixin elliptical-skeleton(){
  @include normalize();
  @include flexbox-container();
  @include elliptical-document();
  @include elliptical-convenience-mixins();
  @include elliptical-semantic();
}

///project, minus icons,animations,notification
/// @access public
@mixin elliptical-basic(){
  @include elliptical-skeleton();
  @include elliptical-typography();
  @include elliptical-mixins();
  @include elliptical-forms();
  @include elliptical-grid();
  @include elliptical-buttons();
}


///project
/// @access public
@mixin elliptical-project(){
  @include elliptical-basic();
  @include elliptical-notification();
  @include elliptical-icons();
  @include elliptical-animations();
}

/// @access public
@mixin elliptical-components(){
  @include elliptical-notification();
  @include ui-badge();
  @include ui-box();
  @include ui-breadcrumb();
  @include ui-carousel();
  @include ui-collapse();
  @include touch-toggle-menu();
  @include ui-label();
  @include ui-media-object();
  @include ui-menu();
  @include ui-modal();
  @include ui-navbar();
  @include ui-pagination();
  @include ui-pop-over();
  @include ui-rating();
  @include ui-sidebar();
  @include ui-social();
  @include ui-table();
  @include ui-flex-table();
  @include ui-tabs();
  @include ui-tabs();
  @include ui-tip();
  @include ui-tooltip();
  @include ui-topbar();
  @include ui-window();
  @include ui-drawer-panel();

}

/// @access public
@mixin menu-light(){
  ui-menu{
    &.default-light{
      a{
        color:#f2f2f2;
        &:hover{
          opacity:.7;
        }
      }
    }
  }
  nav{
    .bg-default-light{
      background: #f7f7f7;
    }
  }
}

/// @access public
@mixin elliptical-distribution(){
  @include component-theme();
  @include elliptical-basic();
  @include typography-blockquote();
  @include elliptical-components();
  @include ui-input-icon();
  @include mixins-template();
  @include menu-light();
}

