
/// @access public
@mixin component-preload() {
  [ui-preload] {
    position: relative;
    &:before {
      font-family: 'elliptical';
      content: '\e002';
      font-size: 32px;
      color: map-get($Base, gray);
      top: 100px;
      left: 48%;
      position: absolute;
    }
  }
  [ui-preload="100"] {
    position: relative;
    min-height: 100px;
  }
  [ui-preload="200"] {
    position: relative;
    min-height: 200px;
  }
  [ui-preload="300"] {
    position: relative;
    min-height: 300px;
  }
  [ui-preload="400"] {
    position: relative;
    min-height: 400px;
  }
  [ui-preload="500"] {
    position: relative;
    min-height: 500px;
  }
}

