/// @access public
@mixin mixins-convenience() {
  .text-center {
    text-align: center;
  }
  .text-justify {
    text-align: justify;
  }
  .text-bold {
    font-weight: bold;
  }
  .text-normal {
    font-weight: normal;
  }
  .text-large {
    font-size: 1.5rem;
  }
  .text-small{
    font-size:.85em;
  }
  .capitalize{
    text-transform: capitalize;
  }
  .lowercase{
    text-transform: lowercase;
  }
  .uppercase{
    text-transform: uppercase;
  }
  .hide {
    display: none;
  }
  .show{
    display:inherit;
  }
  .hide-important,.hide-override {
    display: none !important;
  }
  .visible{
    visibility: visible !important;
    opacity:1;
  }
  .hidden{
    visibility: hidden;
  }
  .transparent {
    opacity: 0;
  }
  .full-width {
    width: 100%;
  }
  .inline{
    display:inline;
  }
  .inline-important{
    display:inline !important;
  }
  .absolute {
    position: absolute;
  }
  .fixed {
    position: fixed;
  }
  .relative{
    position:relative;
  }
  .static{
    position:static;
  }
  .antialiased {
    -webkit-font-smoothing: antialiased;
  }

  .box-shadow {
    box-shadow: rgba(0, 0, 0, .20) 0 1px 1px;
  }
  .icon-inset {
    text-shadow: rgba(0, 0, 0, .80) 0 -1px 0;
  }

  .list-style-none{
    list-style: none;
    margin:0;
    padding:0;
    &>li{
      margin:0 0 10px 0;
      line-height: 1.25;
    }
  }

  .width-half{
    width:50% !important;

  }
  .width-full{
    width:100% !important;
  }
  .width-auto{
    width:auto !important;
    min-width:0;
  }
  .height-auto{
    height:auto !important;
  }
  .height-full{
    height:100% !important;
  }
  .circle {
    border-radius: 50%;
  }

  .top {
    top: 0;
  }

  .bottom {
    bottom: 0;
  }

  .margin {
    margin: 1em 0 1em 0;
    &.two{
      margin: 2em 0 2em 0;
    }
  }

  .margin-left{
    margin-left:1em;
    &.two{
      margin-left:2em;
    }
    &.zero{
      margin-left:0;
    }
  }
  .margin-right{
    margin-right:1em;
    &.two{
      margin-right:2em;
    }
    &.zero{
      margin-right:0;
    }
  }
  .margin-top{
    margin-top:1em;
    &.two{
      margin-top:2em;
    }
    &.zero{
      margin-top:0;
    }
    &.three{
      margin-top:3em;
    }
  }
  .margin-bottom{
    margin-bottom:1em;
    &.two{
      margin-bottom:2em;
    }
    &.zero{
      margin-bottom:0;
    }
    &.three{
      margin-bottom:3em;
    }
  }

  .margin-0 {
    margin: 0;
  }

  .padding {
    padding: 1em 0 1em 0;
  }

  .padding-0 {
    padding: 0;
  }

  .padding-left{
    padding-left:1em;
    &.two{
      padding-left:2em;
    }
    &.zero{
      padding-left:0;
    }
  }
  .padding-right{
    padding-right:1em;
    &.two{
      padding-right:2em;
    }
    &.zero{
      padding-right:0;
    }
  }
  .padding-top{
    padding-top:1em;
    &.two{
      padding-top:2em;
    }
    &.zero{
      padding-top:0;
    }
  }
  .padding-bottom{
    padding-bottom:1em;
    &.two{
      padding-bottom:2em;
    }
    &.zero{
      padding-bottom:0;
    }
  }
  .pointer{
    cursor:pointer;
  }

  .pointer-underline{
    text-decoration: underline;
    cursor:pointer;
  }

  .white{
    color:$white;
  }

  .font-tiny{
    font-size:.75em;
  }

  .font-small{
    font-size:.85em;
  }

  .font-normal{
    font-size:1em;
  }

  .font-large{
    font-size:1.5em;
  }

  .opacity-0{
    opacity:0;
  }

  .opacity-1{
    opacity:1;
  }

  .opacity-09{
    opacity:.9
  }

  .opacity-08{
    opacity:.8
  }

  .opacity-07{
    opacity:.7;
  }

  .opacity-06{
    opacity:.6;
  }

  .opacity-05{
    opacity:.5;
  }

  .opacity-04{
    opacity:.4;
  }

  .opacity-03{
    opacity:.3;
  }

  .opacity-02{
    opacity:.2;
  }

  .opacity-01{
    opacity:.1;
  }

  .hover{
    cursor:pointer;
  }
  [hover]{
    cursor:pointer;
  }

  .touch-scroll{
    overflow: scoll-y;
    -webkit-overflow-scrolling: touch;
  }

  @include desktop-content(){
    .touch{
      display:none;
    }
  }

  @include touch-content(){
    .desktop{
      display:none;
    }
    .touch-width-full{
      width:100% !important;
    }
  }

}
