@import "../settings/document";


/// @access public
@mixin tab-focus(){
  outline: map-get($Document,outline) !important;
  @include touch-content(){
    outline: map-get($Document,touch-outline) !important;
  }
}

/// @access public
@mixin disable-focus(){
  outline:0;
  -moz-user-focus: ignore;
}


