@mixin font-icons(){

  @font-face {
    font-family: 'elliptical';
    src:url('fonts/elliptical.eot');
    src:url('fonts/elliptical.eot?#iefix') format('embedded-opentype'),
    url('fonts/elliptical.woff') format('woff'),
    url('fonts/elliptical.ttf') format('truetype'),
    url('fonts/elliptical.svg#elliptical') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  /* Use the following CSS code if you want to use data attributes for inserting your icons */
  [data-icon]:before {
    font-family: 'elliptical';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Use the following CSS code if you want to have a class per icon */
  /*
  Instead of a list of all class selectors,
  you can use the generic selector below, but it's slower:
  [class*="icon-"] {
  */
  .icon-core-stack, .icon-core-calendar, .icon-core-remove-2, .icon-core-remove, .icon-core-camera-2, .icon-core-camera-3, .icon-core-location, .icon-core-arrow-narrow-left, .icon-core-arrow-narrow-up, .icon-core-arrow-narrow-down, .icon-core-refresh, .icon-core-grid, .icon-core-list, .icon-core-arrow-up, .icon-core-arrow-down, .icon-core-arrow-left, .icon-core-arrow-right, .icon-core-circle, .icon-core-arrow-light-up, .icon-core-arrow-light-left, .icon-core-arrow-light-down, .icon-core-arrow-light-right, .icon-core-arrow-bold-down, .icon-core-arrow-bold-up, .icon-core-arrow-bold-right, .icon-core-arrow-bold-left, .icon-core-caret-right, .icon-core-caret-down, .icon-core-caret-up, .icon-core-circle-2, .icon-core-stack-2, .icon-core-calendar-2, .icon-core-database, .icon-core-tag, .icon-core-flip, .icon-core-redo-2, .icon-core-undo-2, .icon-core-storage, .icon-core-mirror, .icon-core-redo, .icon-core-upload, .icon-core-download, .icon-core-comments, .icon-core-comment, .icon-core-user-2, .icon-core-profile, .icon-core-profile-group, .icon-core-user, .icon-core-spinner, .icon-core-spinner-2, .icon-core-spinner-3, .icon-core-spinner-4, .icon-core-spinner-5, .icon-core-zoom-in, .icon-core-zoom-out, .icon-core-expand, .icon-core-contract, .icon-core-expand-2, .icon-core-contract-2, .icon-core-key, .icon-core-settings, .icon-core-settings-vertical, .icon-core-cog, .icon-core-cog-2, .icon-core-bug, .icon-core-pie, .icon-core-chart, .icon-core-barchart, .icon-core-bars, .icon-core-meter, .icon-core-dashboard, .icon-core-tool, .icon-core-trashcan, .icon-core-trashcan-2, .icon-core-shield, .icon-core-power, .icon-core-signup, .icon-core-list-2, .icon-core-cloud, .icon-core-cloud-download, .icon-core-tree, .icon-core-cloud-upload, .icon-core-globe, .icon-core-earth, .icon-core-link, .icon-core-attachment, .icon-core-star-full, .icon-core-star-half, .icon-core-star-empty, .icon-core-notification, .icon-core-question, .icon-core-info, .icon-core-info-2, .icon-core-blocked, .icon-core-cancel, .icon-core-close, .icon-core-minus, .icon-core-plus, .icon-core-signin, .icon-core-signout, .icon-core-play, .icon-core-pause, .icon-core-stop, .icon-core-rewind, .icon-core-forward, .icon-core-first, .icon-core-last, .icon-core-previous, .icon-core-next, .icon-core-eject, .icon-core-volume, .icon-core-mute, .icon-core-volume-up, .icon-core-volume-down, .icon-core-reload, .icon-core-loop, .icon-core-loop-2, .icon-core-shuffle, .icon-core-checkbox-checked, .icon-core-checkbox-unchecked, .icon-core-checkbox-partial, .icon-core-radio-checked, .icon-core-radio-unchecked, .icon-core-resize, .icon-core-cut, .icon-core-filter, .icon-core-table, .icon-core-new-tab, .icon-core-embed, .icon-core-code, .icon-core-share, .icon-core-console, .icon-core-email-2, .icon-core-google, .icon-core-google-plus, .icon-core-google-plus-2, .icon-core-google-plus-circle, .icon-core-google-drive, .icon-core-facebook, .icon-core-facebook-2, .icon-core-facebook-circle, .icon-core-instagram, .icon-core-twitter, .icon-core-twitter-circle, .icon-core-rss, .icon-core-rss-2, .icon-core-rss-cirlce, .icon-core-vimeo, .icon-core-vimeo-2, .icon-core-vimeo-circle, .icon-core-github, .icon-core-github-2, .icon-core-flickr-circle, .icon-core-flickr-2, .icon-core-flickr, .icon-core-wordpress-circle, .icon-core-wordpress, .icon-core-yahoo, .icon-core-linux, .icon-core-apple, .icon-core-android, .icon-core-finder, .icon-core-windows, .icon-core-soundcloud, .icon-core-soundcloud-2, .icon-core-paypal, .icon-core-reddit, .icon-core-linkedin, .icon-core-stackoverflow, .icon-core-pinterest-circle, .icon-core-pinterest, .icon-core-pdf, .icon-core-word, .icon-core-excel, .icon-core-zip, .icon-core-powerpoint, .icon-core-xml, .icon-core-css, .icon-core-html5, .icon-core-html5-2, .icon-core-css3, .icon-core-chrome, .icon-core-firefox, .icon-core-ie, .icon-core-opera, .icon-core-safari, .icon-core-cloud-2, .icon-core-cloud-3, .icon-core-lines, .icon-core-clouds, .icon-core-na, .icon-core-wrench, .icon-core-close-3, .icon-core-minusX18, .icon-core-plusX18, .icon-core-community, .icon-core-search-2, .icon-core-pinterest-2, .icon-core-highlight, .icon-core-apps, .icon-core-edit, .icon-core-grid-2, .icon-core-togglex24, .icon-core-help, .icon-core-email-3, .icon-core-account, .icon-core-home-3, .icon-core-stop-2, .icon-core-magnify, .icon-core-magnify-2, .icon-core-checkmark-2, .icon-core-dislike, .icon-core-archiveX22, .icon-core-profileX22, .icon-core-photoshopX22, .icon-core-illustratorX22, .icon-core-heartX22, .icon-core-profile-groupX22, .icon-core-drawerX22, .icon-core-locationX22, .icon-core-mailX22, .icon-core-linkX22, .icon-core-searchX22, .icon-core-settingsX22, .icon-core-trashX22, .icon-core-editX22, .icon-core-infoX22, .icon-core-clockX22, .icon-core-pencilX22, .icon-core-images-2X22, .icon-ui-imagesX22, .icon-core-shareX22, .icon-core-listX22, .icon-core-lockX22, .icon-core-refreshX22, .icon-core-newX22, .icon-core-rssX22, .icon-core-starX22, .icon-core-helpX22, .icon-core-bagX22, .icon-core-bookmarkX22, .icon-core-like, .icon-core-trashcan-3, .icon-core-folder-3, .icon-core-locked, .icon-core-creditcard, .icon-core-toggleX24, .icon-core-toggleX16, .icon-core-twitter-sq, .icon-core-google-sq, .icon-core-facebook-sq, .icon-core-arrow-narrow-right, .icon-core-quotes-left, .icon-profile, .icon-profile-edit, .icon-down, .icon-map, .icon-core-quotes-right, .icon-location, .icon-download-cloud, .icon-upload-cloud, .icon-database, .icon-database-edit, .icon-mail, .icon-share, .icon-power, .icon-book, .icon-download, .icon-edit, .icon-next, .icon-stack, .icon-previous, .icon-clock, .icon-search, .icon-list, .icon-calendar, .icon-comments, .icon-comments-2, .icon-smartphone, .icon-print, .icon-screen, .icon-lock, .icon-shopping-bag, .icon-tag, .icon-expand, .icon-recycle, .icon-sign-in, .icon-filter, .icon-info, .icon-warning, .icon-folder, .icon-document-download, .icon-document-edit, .icon-document-email, .icon-document-search, .icon-document-trash, .icon-document, .icon-documents, .icon-contact-list, .icon-core-checkmark, .icon-core-home, .icon-core-search, .icon-core-home-2, .icon-core-pencil, .icon-core-headphones, .icon-core-connection, .icon-core-document, .icon-core-file, .icon-core-document-2, .icon-core-document-3, .icon-core-documents, .icon-core-documents-2, .icon-core-drawer, .icon-core-tablet, .icon-core-bubbles, .icon-core-bubble, .icon-core-reply, .icon-core-folder, .icon-core-phone, .icon-core-screen, .icon-core-printer, .icon-core-clock-2, .icon-core-clock, .icon-core-map-2, .icon-core-map, .icon-core-location-2, .icon-core-pushpin, .icon-core-email, .icon-core-calculate, .icon-core-tag-2, .icon-core-tag-2-2, .icon-folder-open, .icon-core-forward-2, .icon-core-undo, .icon-core-circle-small, .icon-core-caret-left, .icon-core-twitter-2, .icon-core-twitter-4, .icon-core-home-4, .icon-up, .icon-control-end, .icon-control-forward, .icon-control-next, .icon-control-pause, .icon-control-play, .icon-control-previous, .icon-control-reverse, .icon-control-rewind, .icon-control-start, .icon-control-stop, .icon-control-volume, .icon-control-mute, .icon-untitled, .icon-untitled-2, .icon-core-dropbox, .icon-core-onedrive, .icon-core-youtube {
    font-family: 'elliptical';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  .icon-core-stack:before {
    content: "\e072";
  }
  .icon-core-calendar:before {
    content: "\e09f";
  }
  .icon-core-remove-2:before {
    content: "\e0da";
  }
  .icon-core-remove:before {
    content: "\e0db";
  }
  .icon-core-camera-2:before {
    content: "\e0fb";
  }
  .icon-core-camera-3:before {
    content: "\e0fd";
  }
  .icon-core-location:before {
    content: "\e101";
  }
  .icon-core-arrow-narrow-left:before {
    content: "\e178";
  }
  .icon-core-arrow-narrow-up:before {
    content: "\e198";
  }
  .icon-core-arrow-narrow-down:before {
    content: "\e199";
  }
  .icon-core-refresh:before {
    content: "\e155";
  }
  .icon-core-grid:before {
    content: "\e19c";
  }
  .icon-core-list:before {
    content: "\e19e";
  }
  .icon-core-arrow-up:before {
    content: "\e1a0";
  }
  .icon-core-arrow-down:before {
    content: "\e1a2";
  }
  .icon-core-arrow-left:before {
    content: "\e19f";
  }
  .icon-core-arrow-right:before {
    content: "\e1a3";
  }
  .icon-core-circle:before {
    content: "\e158";
  }
  .icon-core-arrow-light-up:before {
    content: "\e1a6";
  }
  .icon-core-arrow-light-left:before {
    content: "\e1a7";
  }
  .icon-core-arrow-light-down:before {
    content: "\e1a5";
  }
  .icon-core-arrow-light-right:before {
    content: "\e1a8";
  }
  .icon-core-arrow-bold-down:before {
    content: "\e1a9";
  }
  .icon-core-arrow-bold-up:before {
    content: "\e1aa";
  }
  .icon-core-arrow-bold-right:before {
    content: "\e0f9";
  }
  .icon-core-arrow-bold-left:before {
    content: "\e0fa";
  }
  .icon-core-caret-right:before {
    content: "\e1a4";
  }
  .icon-core-caret-down:before {
    content: "\e1b3";
  }
  .icon-core-caret-up:before {
    content: "\e1b4";
  }
  .icon-core-circle-2:before {
    content: "\e05d";
  }
  .icon-core-stack-2:before {
    content: "\e071";
  }
  .icon-core-calendar-2:before {
    content: "\e0a1";
  }
  .icon-core-database:before {
    content: "\e079";
  }
  .icon-core-tag:before {
    content: "\e130";
  }
  .icon-core-flip:before {
    content: "\e049";
  }
  .icon-core-redo-2:before {
    content: "\e04a";
  }
  .icon-core-undo-2:before {
    content: "\e04b";
  }
  .icon-core-storage:before {
    content: "\e04c";
  }
  .icon-core-mirror:before {
    content: "\e04e";
  }
  .icon-core-redo:before {
    content: "\e04f";
  }
  .icon-core-upload:before {
    content: "\e050";
  }
  .icon-core-download:before {
    content: "\e051";
  }
  .icon-core-comments:before {
    content: "\e056";
  }
  .icon-core-comment:before {
    content: "\e058";
  }
  .icon-core-user-2:before {
    content: "\e05b";
  }
  .icon-core-profile:before {
    content: "\e05c";
  }
  .icon-core-profile-group:before {
    content: "\e05f";
  }
  .icon-core-user:before {
    content: "\e060";
  }
  .icon-core-spinner:before {
    content: "\e064";
  }
  .icon-core-spinner-2:before {
    content: "\e065";
  }
  .icon-core-spinner-3:before {
    content: "\e066";
  }
  .icon-core-spinner-4:before {
    content: "\e068";
  }
  .icon-core-spinner-5:before {
    content: "\e069";
  }
  .icon-core-zoom-in:before {
    content: "\e06b";
  }
  .icon-core-zoom-out:before {
    content: "\e06c";
  }
  .icon-core-expand:before {
    content: "\e06d";
  }
  .icon-core-contract:before {
    content: "\e06f";
  }
  .icon-core-expand-2:before {
    content: "\e070";
  }
  .icon-core-contract-2:before {
    content: "\e073";
  }
  .icon-core-key:before {
    content: "\e074";
  }
  .icon-core-settings:before {
    content: "\e07a";
  }
  .icon-core-settings-vertical:before {
    content: "\e07b";
  }
  .icon-core-cog:before {
    content: "\e07c";
  }
  .icon-core-cog-2:before {
    content: "\e07d";
  }
  .icon-core-bug:before {
    content: "\e07e";
  }
  .icon-core-pie:before {
    content: "\e07f";
  }
  .icon-core-chart:before {
    content: "\e080";
  }
  .icon-core-barchart:before {
    content: "\e081";
  }
  .icon-core-bars:before {
    content: "\e082";
  }
  .icon-core-meter:before {
    content: "\e084";
  }
  .icon-core-dashboard:before {
    content: "\e088";
  }
  .icon-core-tool:before {
    content: "\e089";
  }
  .icon-core-trashcan:before {
    content: "\e08a";
  }
  .icon-core-trashcan-2:before {
    content: "\e08b";
  }
  .icon-core-shield:before {
    content: "\e08c";
  }
  .icon-core-power:before {
    content: "\e08e";
  }
  .icon-core-signup:before {
    content: "\e090";
  }
  .icon-core-list-2:before {
    content: "\e09b";
  }
  .icon-core-cloud:before {
    content: "\e0a2";
  }
  .icon-core-cloud-download:before {
    content: "\e0a3";
  }
  .icon-core-tree:before {
    content: "\e0a4";
  }
  .icon-core-cloud-upload:before {
    content: "\e0a5";
  }
  .icon-core-globe:before {
    content: "\e0aa";
  }
  .icon-core-earth:before {
    content: "\e0ab";
  }
  .icon-core-link:before {
    content: "\e0ac";
  }
  .icon-core-attachment:before {
    content: "\e0ae";
  }
  .icon-core-star-full:before {
    content: "\e0b4";
  }
  .icon-core-star-half:before {
    content: "\e0b5";
  }
  .icon-core-star-empty:before {
    content: "\e0b6";
  }
  .icon-core-notification:before {
    content: "\e0c9";
  }
  .icon-core-question:before {
    content: "\e0ca";
  }
  .icon-core-info:before {
    content: "\e0cb";
  }
  .icon-core-info-2:before {
    content: "\e0cc";
  }
  .icon-core-blocked:before {
    content: "\e0cd";
  }
  .icon-core-cancel:before {
    content: "\e0ce";
  }
  .icon-core-close:before {
    content: "\e0d1";
  }
  .icon-core-minus:before {
    content: "\e0d5";
  }
  .icon-core-plus:before {
    content: "\e0d6";
  }
  .icon-core-signin:before {
    content: "\e0d7";
  }
  .icon-core-signout:before {
    content: "\e0d8";
  }
  .icon-core-play:before {
    content: "\e0e0";
  }
  .icon-core-pause:before {
    content: "\e0e1";
  }
  .icon-core-stop:before {
    content: "\e0e2";
  }
  .icon-core-rewind:before {
    content: "\e0e3";
  }
  .icon-core-forward:before {
    content: "\e0e4";
  }
  .icon-core-first:before {
    content: "\e0e5";
  }
  .icon-core-last:before {
    content: "\e0e6";
  }
  .icon-core-previous:before {
    content: "\e0e7";
  }
  .icon-core-next:before {
    content: "\e0e8";
  }
  .icon-core-eject:before {
    content: "\e0e9";
  }
  .icon-core-volume:before {
    content: "\e0ed";
  }
  .icon-core-mute:before {
    content: "\e0f0";
  }
  .icon-core-volume-up:before {
    content: "\e0f1";
  }
  .icon-core-volume-down:before {
    content: "\e0f2";
  }
  .icon-core-reload:before {
    content: "\e0f3";
  }
  .icon-core-loop:before {
    content: "\e0f4";
  }
  .icon-core-loop-2:before {
    content: "\e0f5";
  }
  .icon-core-shuffle:before {
    content: "\e0f6";
  }
  .icon-core-checkbox-checked:before {
    content: "\e116";
  }
  .icon-core-checkbox-unchecked:before {
    content: "\e117";
  }
  .icon-core-checkbox-partial:before {
    content: "\e118";
  }
  .icon-core-radio-checked:before {
    content: "\e119";
  }
  .icon-core-radio-unchecked:before {
    content: "\e11a";
  }
  .icon-core-resize:before {
    content: "\e11b";
  }
  .icon-core-cut:before {
    content: "\e11c";
  }
  .icon-core-filter:before {
    content: "\e11d";
  }
  .icon-core-table:before {
    content: "\e12c";
  }
  .icon-core-new-tab:before {
    content: "\e13b";
  }
  .icon-core-embed:before {
    content: "\e13c";
  }
  .icon-core-code:before {
    content: "\e13d";
  }
  .icon-core-share:before {
    content: "\e13e";
  }
  .icon-core-console:before {
    content: "\e13f";
  }
  .icon-core-email-2:before {
    content: "\e141";
  }
  .icon-core-google:before {
    content: "\e144";
  }
  .icon-core-google-plus:before {
    content: "\e145";
  }
  .icon-core-google-plus-2:before {
    content: "\e147";
  }
  .icon-core-google-plus-circle:before {
    content: "\e148";
  }
  .icon-core-google-drive:before {
    content: "\e149";
  }
  .icon-core-facebook:before {
    content: "\e14a";
  }
  .icon-core-facebook-2:before {
    content: "\e14b";
  }
  .icon-core-facebook-circle:before {
    content: "\e14c";
  }
  .icon-core-instagram:before {
    content: "\e14d";
  }
  .icon-core-twitter:before {
    content: "\e14e";
  }
  .icon-core-twitter-circle:before {
    content: "\e14f";
  }
  .icon-core-rss:before {
    content: "\e150";
  }
  .icon-core-rss-2:before {
    content: "\e151";
  }
  .icon-core-rss-cirlce:before {
    content: "\e152";
  }
  .icon-core-vimeo:before {
    content: "\e156";
  }
  .icon-core-vimeo-2:before {
    content: "\e157";
  }
  .icon-core-vimeo-circle:before {
    content: "\e159";
  }
  .icon-core-github:before {
    content: "\e15e";
  }
  .icon-core-github-2:before {
    content: "\e15f";
  }
  .icon-core-flickr-circle:before {
    content: "\e16c";
  }
  .icon-core-flickr-2:before {
    content: "\e16d";
  }
  .icon-core-flickr:before {
    content: "\e16e";
  }
  .icon-core-wordpress-circle:before {
    content: "\e170";
  }
  .icon-core-wordpress:before {
    content: "\e171";
  }
  .icon-core-yahoo:before {
    content: "\e177";
  }
  .icon-core-linux:before {
    content: "\e17c";
  }
  .icon-core-apple:before {
    content: "\e17d";
  }
  .icon-core-android:before {
    content: "\e17e";
  }
  .icon-core-finder:before {
    content: "\e180";
  }
  .icon-core-windows:before {
    content: "\e181";
  }
  .icon-core-soundcloud:before {
    content: "\e182";
  }
  .icon-core-soundcloud-2:before {
    content: "\e183";
  }
  .icon-core-paypal:before {
    content: "\e189";
  }
  .icon-core-reddit:before {
    content: "\e18a";
  }
  .icon-core-linkedin:before {
    content: "\e18b";
  }
  .icon-core-stackoverflow:before {
    content: "\e191";
  }
  .icon-core-pinterest-circle:before {
    content: "\e192";
  }
  .icon-core-pinterest:before {
    content: "\e193";
  }
  .icon-core-pdf:before {
    content: "\e1b6";
  }
  .icon-core-word:before {
    content: "\e1b8";
  }
  .icon-core-excel:before {
    content: "\e1b9";
  }
  .icon-core-zip:before {
    content: "\e1ba";
  }
  .icon-core-powerpoint:before {
    content: "\e1bb";
  }
  .icon-core-xml:before {
    content: "\e1bc";
  }
  .icon-core-css:before {
    content: "\e1bd";
  }
  .icon-core-html5:before {
    content: "\e1be";
  }
  .icon-core-html5-2:before {
    content: "\e1bf";
  }
  .icon-core-css3:before {
    content: "\e1c0";
  }
  .icon-core-chrome:before {
    content: "\e1c1";
  }
  .icon-core-firefox:before {
    content: "\e1c2";
  }
  .icon-core-ie:before {
    content: "\e1c3";
  }
  .icon-core-opera:before {
    content: "\e1c4";
  }
  .icon-core-safari:before {
    content: "\e1c5";
  }
  .icon-core-cloud-2:before {
    content: "\e1c7";
  }
  .icon-core-cloud-3:before {
    content: "\e1cc";
  }
  .icon-core-lines:before {
    content: "\e1d1";
  }
  .icon-core-clouds:before {
    content: "\e1d7";
  }
  .icon-core-na:before {
    content: "\e1e2";
  }
  .icon-core-wrench:before {
    content: "\e1e5";
  }
  .icon-core-close-3:before {
    content: "\e057";
  }
  .icon-core-minusX18:before {
    content: "\e093";
  }
  .icon-core-plusX18:before {
    content: "\e095";
  }
  .icon-core-community:before {
    content: "\e0eb";
  }
  .icon-core-search-2:before {
    content: "\e0ec";
  }
  .icon-core-pinterest-2:before {
    content: "\f05c";
  }
  .icon-core-highlight:before {
    content: "\e1a1";
  }
  .icon-core-apps:before {
    content: "\e1ae";
  }
  .icon-core-edit:before {
    content: "\e17b";
  }
  .icon-core-grid-2:before {
    content: "\e1b0";
  }
  .icon-core-togglex24:before {
    content: "\e137";
  }
  .icon-core-help:before {
    content: "\e19b";
  }
  .icon-core-email-3:before {
    content: "\e1b1";
  }
  .icon-core-account:before {
    content: "\e1c6";
  }
  .icon-core-home-3:before {
    content: "\e1e7";
  }
  .icon-core-stop-2:before {
    content: "\e1e9";
  }
  .icon-core-magnify:before {
    content: "\e1eb";
  }
  .icon-core-magnify-2:before {
    content: "\e1ec";
  }
  .icon-core-checkmark-2:before {
    content: "\e1f2";
  }
  .icon-core-dislike:before {
    content: "\e1f7";
  }
  .icon-core-archiveX22:before {
    content: "\e1fe";
  }
  .icon-core-profileX22:before {
    content: "\e1ff";
  }
  .icon-core-photoshopX22:before {
    content: "\e200";
  }
  .icon-core-illustratorX22:before {
    content: "\e201";
  }
  .icon-core-heartX22:before {
    content: "\e202";
  }
  .icon-core-profile-groupX22:before {
    content: "\e203";
  }
  .icon-core-drawerX22:before {
    content: "\e204";
  }
  .icon-core-locationX22:before {
    content: "\e205";
  }
  .icon-core-mailX22:before {
    content: "\e208";
  }
  .icon-core-linkX22:before {
    content: "\e209";
  }
  .icon-core-searchX22:before {
    content: "\e20a";
  }
  .icon-core-settingsX22:before {
    content: "\e20b";
  }
  .icon-core-trashX22:before {
    content: "\e20c";
  }
  .icon-core-editX22:before {
    content: "\e20d";
  }
  .icon-core-infoX22:before {
    content: "\e20e";
  }
  .icon-core-clockX22:before {
    content: "\e210";
  }
  .icon-core-pencilX22:before {
    content: "\e211";
  }
  .icon-core-images-2X22:before {
    content: "\e212";
  }
  .icon-ui-imagesX22:before {
    content: "\e213";
  }
  .icon-core-shareX22:before {
    content: "\e215";
  }
  .icon-core-listX22:before {
    content: "\e216";
  }
  .icon-core-lockX22:before {
    content: "\e218";
  }
  .icon-core-refreshX22:before {
    content: "\e219";
  }
  .icon-core-newX22:before {
    content: "\e21a";
  }
  .icon-core-rssX22:before {
    content: "\e21b";
  }
  .icon-core-starX22:before {
    content: "\e21c";
  }
  .icon-core-helpX22:before {
    content: "\e21d";
  }
  .icon-core-bagX22:before {
    content: "\e21e";
  }
  .icon-core-bookmarkX22:before {
    content: "\e224";
  }
  .icon-core-like:before {
    content: "\e1f6";
  }
  .icon-core-trashcan-3:before {
    content: "\e1ed";
  }
  .icon-core-folder-3:before {
    content: "\e1ee";
  }
  .icon-core-locked:before {
    content: "\e1ef";
  }
  .icon-core-creditcard:before {
    content: "\e1f1";
  }
  .icon-core-toggleX24:before {
    content: "\e1f3";
  }
  .icon-core-toggleX16:before {
    content: "\e1f4";
  }
  .icon-core-twitter-sq:before {
    content: "\e228";
  }
  .icon-core-google-sq:before {
    content: "\e229";
  }
  .icon-core-facebook-sq:before {
    content: "\e227";
  }
  .icon-core-arrow-narrow-right:before {
    content: "\e179";
  }
  .icon-core-quotes-left:before {
    content: "\e062";
  }
  .icon-profile:before {
    content: "\e000";
  }
  .icon-profile-edit:before {
    content: "\e004";
  }
  .icon-down:before {
    content: "\e00f";
  }
  .icon-map:before {
    content: "\e003";
  }
  .icon-core-quotes-right:before {
    content: "\e001";
  }
  .icon-location:before {
    content: "\e007";
  }
  .icon-download-cloud:before {
    content: "\e002";
  }
  .icon-upload-cloud:before {
    content: "\e005";
  }
  .icon-database:before {
    content: "\e008";
  }
  .icon-database-edit:before {
    content: "\e009";
  }
  .icon-mail:before {
    content: "\e013";
  }
  .icon-share:before {
    content: "\e01b";
  }
  .icon-power:before {
    content: "\e01d";
  }
  .icon-book:before {
    content: "\e006";
  }
  .icon-download:before {
    content: "\e00a";
  }
  .icon-edit:before {
    content: "\e00e";
  }
  .icon-next:before {
    content: "\e00b";
  }
  .icon-stack:before {
    content: "\e010";
  }
  .icon-previous:before {
    content: "\e012";
  }
  .icon-clock:before {
    content: "\e014";
  }
  .icon-search:before {
    content: "\e016";
  }
  .icon-list:before {
    content: "\e00c";
  }
  .icon-calendar:before {
    content: "\e00d";
  }
  .icon-comments:before {
    content: "\e011";
  }
  .icon-comments-2:before {
    content: "\e015";
  }
  .icon-smartphone:before {
    content: "\e017";
  }
  .icon-print:before {
    content: "\e024";
  }
  .icon-screen:before {
    content: "\e027";
  }
  .icon-lock:before {
    content: "\e018";
  }
  .icon-shopping-bag:before {
    content: "\e019";
  }
  .icon-tag:before {
    content: "\e031";
  }
  .icon-expand:before {
    content: "\e01a";
  }
  .icon-recycle:before {
    content: "\e01c";
  }
  .icon-sign-in:before {
    content: "\e01e";
  }
  .icon-filter:before {
    content: "\e01f";
  }
  .icon-info:before {
    content: "\e020";
  }
  .icon-warning:before {
    content: "\e021";
  }
  .icon-folder:before {
    content: "\e022";
  }
  .icon-document-download:before {
    content: "\e023";
  }
  .icon-document-edit:before {
    content: "\e025";
  }
  .icon-document-email:before {
    content: "\e026";
  }
  .icon-document-search:before {
    content: "\e028";
  }
  .icon-document-trash:before {
    content: "\e029";
  }
  .icon-document:before {
    content: "\e02a";
  }
  .icon-documents:before {
    content: "\e02b";
  }
  .icon-contact-list:before {
    content: "\e02c";
  }
  .icon-core-checkmark:before {
    content: "\e035";
  }
  .icon-core-home:before {
    content: "\e02d";
  }
  .icon-core-search:before {
    content: "\e02e";
  }
  .icon-core-home-2:before {
    content: "\e02f";
  }
  .icon-core-pencil:before {
    content: "\e030";
  }
  .icon-core-headphones:before {
    content: "\e032";
  }
  .icon-core-connection:before {
    content: "\e033";
  }
  .icon-core-document:before {
    content: "\e034";
  }
  .icon-core-file:before {
    content: "\e036";
  }
  .icon-core-document-2:before {
    content: "\e037";
  }
  .icon-core-document-3:before {
    content: "\e038";
  }
  .icon-core-documents:before {
    content: "\e039";
  }
  .icon-core-documents-2:before {
    content: "\e03a";
  }
  .icon-core-drawer:before {
    content: "\e041";
  }
  .icon-core-tablet:before {
    content: "\e03f";
  }
  .icon-core-bubbles:before {
    content: "\e043";
  }
  .icon-core-bubble:before {
    content: "\e044";
  }
  .icon-core-reply:before {
    content: "\e045";
  }
  .icon-core-folder:before {
    content: "\e03b";
  }
  .icon-core-phone:before {
    content: "\e03d";
  }
  .icon-core-screen:before {
    content: "\e03c";
  }
  .icon-core-printer:before {
    content: "\e03e";
  }
  .icon-core-clock-2:before {
    content: "\e040";
  }
  .icon-core-clock:before {
    content: "\e042";
  }
  .icon-core-map-2:before {
    content: "\e046";
  }
  .icon-core-map:before {
    content: "\e047";
  }
  .icon-core-location-2:before {
    content: "\e048";
  }
  .icon-core-pushpin:before {
    content: "\e04d";
  }
  .icon-core-email:before {
    content: "\e052";
  }
  .icon-core-calculate:before {
    content: "\e053";
  }
  .icon-core-tag-2:before {
    content: "\e054";
  }
  .icon-core-tag-2-2:before {
    content: "\e055";
  }
  .icon-folder-open:before {
    content: "\e059";
  }
  .icon-core-forward-2:before {
    content: "\e05a";
  }
  .icon-core-undo:before {
    content: "\e05e";
  }
  .icon-core-circle-small:before {
    content: "\e061";
  }
  .icon-core-caret-left:before {
    content: "\e063";
  }
  .icon-core-twitter-2:before {
    content: "\e067";
  }
  .icon-core-twitter-4:before {
    content: "\e06a";
  }
  .icon-core-home-4:before {
    content: "\e06e";
  }
  .icon-up:before {
    content: "\e075";
  }
  .icon-control-end:before {
    content: "\e077";
  }
  .icon-control-forward:before {
    content: "\e078";
  }
  .icon-control-next:before {
    content: "\e083";
  }
  .icon-control-pause:before {
    content: "\e085";
  }
  .icon-control-play:before {
    content: "\e086";
  }
  .icon-control-previous:before {
    content: "\e087";
  }
  .icon-control-reverse:before {
    content: "\e08d";
  }
  .icon-control-rewind:before {
    content: "\e08f";
  }
  .icon-control-start:before {
    content: "\e091";
  }
  .icon-control-stop:before {
    content: "\e092";
  }
  .icon-control-volume:before {
    content: "\e094";
  }
  .icon-control-mute:before {
    content: "\e096";
  }
  .icon-untitled:before {
    content: "\e097";
  }
  .icon-untitled-2:before {
    content: "\e098";
  }
  .icon-core-dropbox:before {
    content: "\e076";
  }
  .icon-core-onedrive:before {
    content: "\e099";
  }
  .icon-core-youtube:before {
    content: "\e09a";
  }




}