@import "../base/common-web-component";
@import "touch-navbar";

/// @access private
@mixin _ui-navbar($component:null,
$nav-padding:null,
$nav-column-gutter:null,
$dropdown-top:null,
$dropdown-border-radius:null,
$header-justification:null,
$header-alignment:null

){

  $_ui-navbar-contained-to-grid: $grid-width;
  @if($nav-column-gutter==true){
    $_ui-navbar-contained-to-grid: $grid-width - $grid-column-gutter;
  }
  width: 100%;
  position: relative;
  display:block;
  &>nav{
    position: relative;
    width:100%;
    @include web-component-base($component:$component,$include-font:false);
    @include flexbox-column($justification:flex-end,$alignment:center);
    &.padding{
      padding:$nav-padding;
    }
    &>.center{
      @include justify-content(center);
    }
    &>.space-between{
      @include justify-content(space-between);
    }
    &>.align-center{
      @include align-content(center);
    }
    .logo{
      &:hover{
        cursor:pointer;
      }
    }
    &>*{
      position:relative;
      width: $_ui-navbar-contained-to-grid;
      max-width:100%;
    }
    &>section{
      width:100% !important;
      @include flexbox($justification:center,$alignment:center);
      &>ui-menu,&content-menu{
        width: $_ui-navbar-contained-to-grid;
        max-width:100%;
        &.auto{
          width:auto;
        }
      }
      &>div{
        width: $_ui-navbar-contained-to-grid;
        max-width:100%;
        @include flexbox($justification:space-between,$alignment:center);
      }
    }
    &>header{
      @include flexbox($justification:$header-justification,$alignment:$header-alignment);
    }
    ui-dropdown,ui-mega-dropdown{
      top:$dropdown-top;
      border-radius:$dropdown-border-radius;
    }
  }
  &>touch-bar,&>touch-drawer{
    display:none;
  }
  [home]{
    cursor:pointer;
  }
}



/// @access public
/// @param {String} $component
/// @param {String} $touch-component
/// @param {List} $tags
/// @param {String} $class
/// @param {Map} $map
// $map:(
//         nav:(
//                 column-gutter:<value>,
//                 padding:<value>
//         ),
//         header:(
//                 justification:<value>,
//                 alignment:<value>
//         ),
//         dropdown:(
//                 top:<value>
//                 border-radius:<value>
//         )
//         touch:(
//                 position:<value>,
//                 height:<value>,
//                 font-size:<value>,
//                 z-index:<value>,
//                 brand-font:<value>,
//                 brand-margin:<value>,
//                 icon-font-size:<value>,
//                 icon-margin:<value>,
//                 nav-alignment:<value>,
//                 brand-alignment:<value>,
//                 icon-alignment:<value>
//         )
// )
@mixin ui-navbar($component:null,$touch-component:css-touch,$tags:null,$class:null,$map:()){

  $_touch-height:map-get($Component,touch-bar-height);
  $nav-padding:map-nested-get-default($map,nav,padding,8px 0);
  $nav-column-gutter:map-nested-get-default($map,nav,column-gutter,false);
  $dropdown-top:map-nested-get-default($map,dropdown,top,80%);
  $dropdown-border-radius:map-nested-get-default($map,dropdown,border-radius,0);
  $header-justification:map-nested-get-default($map,header,justification,space-between);
  $header-alignment:map-nested-get-default($map,header,alignment,flex-end);
  $touch-position:map-nested-get-default($map,touch,position,fixed);
  $touch-height:map-nested-get-default($map,touch,height,$_touch-height);
  $touch-z-index:map-nested-get-default($map,touch,z-index,get-z-index() + 999);
  $touch-font-size:map-nested-get-default($map,touch,font-size,1em);
  $touch-brand-font:map-nested-get-default($map,touch,brand-font,inherit);
  $touch-brand-margin:map-nested-get-default($map,touch,brand-margin,0);
  $touch-icon-font-size:map-nested-get-default($map,touch,icon-font-size,22px);
  $touch-icon-margin:map-nested-get-default($map,touch,icon-margin,.8em);
  $touch-bar-alignment:map-nested-get-default($map,touch,bar-alignment,center);
  $touch-brand-alignment:map-nested-get-default($map,touch,brand-alignment,center);
  $touch-icon-alignment:map-nested-get-default($map,touch,icon-alignment,center);

  $tag:ui-navbar;
  @include element-tag($tag:$tag,$tags:$tags,$class:$class){
    @include _ui-navbar($component,
            $nav-padding,
            $nav-column-gutter,
            $dropdown-top,
            $dropdown-border-radius,
            $header-justification,
            $header-alignment
    );
    @content;
  }

  @include desktop-content(){
    ui-navbar{
      touch-ui-brand,touch-icons{
        display:none;
      }
    }
  }

  @include touch-content(){
    ui-search{
      &>input[type=text]{
        border:0 !important;
        outline:0 !important;
        &:focus{
          border:0 !important;
          outline:0 !important;
        }
      }
    }
    ui-navbar ui-search{
      display:none;
    }
  }

  @include touch-content(){
    ui-navbar ui-topbar + *{
      margin-top:0 !important;
    }
    ui-navbar{
      &>ui-topbar{
        display:none !important;
      }
      &>nav{
        display:none;
      }
      &>touch-bar{
        width:100%;
        @include flexbox($justification:space-between,$alignment:center);
      }

      @if $class != null{
        &.#{$class} {
          @include _touch-ui-navbar($touch-component,
            $touch-position,
            $touch-height,
            $touch-z-index,
            $touch-brand-font,
            $touch-brand-margin,
            $touch-icon-font-size,
            $touch-icon-margin,
            $touch-bar-alignment,
            $touch-brand-alignment,
            $touch-icon-alignment
          );
        }

      }@else{
        @include _touch-ui-navbar($touch-component,
          $touch-position,
          $touch-height,
          $touch-z-index,
          $touch-font-size,
          $touch-brand-font,
          $touch-brand-margin,
          $touch-icon-font-size,
          $touch-icon-margin,
          $touch-bar-alignment,
          $touch-brand-alignment,
          $touch-icon-alignment
        );
      }

      ui-menu,content-menu{
        display:none;
      }

    }

    @if $touch-position != relative{
      [data-role=navigation] + *{
        padding-top:$touch-height;
      }
      @if $class != null {
        ui-navbar.#{$class} + *{
          padding-top:$touch-height;
        }
      }@else{
        ui-navbar + *{
          padding-top:$touch-height;
        }
      }
    }
  }
}



///@public
@mixin phone-navbar-brand(){
  @include phone-content(){
    touch-ui-brand{
      @content;
    }
  }
}

///@public
@mixin touch-navbar-brand(){
  @include touch-content(){
    touch-ui-brand{
      @content;
    }
  }
}
