@import "../base/common-web-component";



/// @access private
@mixin _ui-sidebar(
  $background:null,
  $width:null,
  $padding:null,
  $header-color:null,
  $header-height:null,
  $header-padding:null,
  $header-fixed-offset:null,
  $divider-color:null,
  $item-padding:null,
  $item-color:null,
  $item-color-hover:null,
  $dropdown-item-padding:null,
  $dropdown-item-color:null,
  $dropdown-item-color-hover:null,
  $button-icon-color:null,
  $button-icon-right:null,
  $button-icon-top:null
){

  background:$background;
  padding:$padding;
  width:$width;
  min-height:100vh;
  @include flexbox-column();
  border-radius:0;

  &>header{
    @include flexbox-column($alignment:flex-start,$justification:center);
    position:relative;
    color:$header-color;
    height:$header-height;
    width:$width;
    &>*{
      padding:$header-padding;
      margin:0;
    }
    &>[close]{
      position:absolute;
      top:5px;
      left:5px;
      cursor:pointer;
      padding:0;
    }
    position:fixed;
    background:$background;
    z-index:11000;
    &.relative{
      position:relative;
    }
    &>hr{
      margin:0;
      padding:0;
      margin-top:auto;
    }
  }

  header + *{
    padding-top:$header-height + $header-fixed-offset !important;
  }

  header.relative + *{
    padding-top:0;
  }

  hr{
    border-top:1px solid $divider-color;
    width:100%;
    &.border{
      margin-top:0;
    }
  }

  &> ui-menu{
    width:100% !important;
  }

  &> ui-menu > * > a{
    padding:$item-padding !important;
    color:$item-color;
    &:hover{
      color:$item-color-hover;
    }
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
  }

  &> ui-menu > * > span{
    color:$item-color;
  }

  ui-button-dropdown{
    width:100%;
    flex-wrap:wrap;
    position:relative;
    @include flex-wrap(wrap);
    &:after{
      font-family:'content';
      content:'\e612';
      color:$button-icon-color;
      position:absolute;
      right:$button-icon-right;
      top:$button-icon-top;
      font-size:24px;
    }
    &.open{
      &:after{
        content:'\e613';
      }
    }

    &.ui-focus{
      outline:0 !important;
      &:focus{
        outline:0 !important;
      }
    }
    &:focus{
      outline:0 !important;
    }
  }

  ui-dropdown{
    position:relative;
    background:none;
    border-radius:0;
    width:100%;
    border:0;
    padding:0;
    outline:0;
    top:0;
  }

  ui-dropdown menu-item{
    border-radius:0 !important;
    &:hover{
      background:none;
    }
  }

  ui-dropdown menu-item a{
    padding:$dropdown-item-padding !important;
    color:$dropdown-item-color;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    &:hover{
      color:$dropdown-item-color-hover;
    }
  }
  ui-dropdown a:hover{
    background:none;
  }

  .bottom{
    margin-top:auto;
  }

}



/// @access public
/// @param {String} $component
/// @param {List} $tags
/// @param {String} $class
/// @param {Map} $map

//$map:(
//        background:<value>,
//        width:<value>,
//        padding:<value>
//        header:(
//           color:<value>,
//           height:<value>,
//           padding:<value>,
//           fixed-offset:<value>
//        )
//        item:(
//                padding:<value>,
//                color:<value>,
//                color-hover:<value>
//        ),
//        divider:(
//                color:<value>
//        )
//        dropdown-item:(
//                padding:<value>,
//                color:<value>,
//                color-hover:<value>
//        ),
//        button-icon:(
//                color:<value>,
//                top:<value>,
//                right:<value>
//        )
//)

@mixin ui-sidebar($tags:null,$class:null,$map:()){


  $background:map-get-default($map,background,#424242);
  $width:map-get-default($map,width,277px);
  $padding:map-get-default($map,padding,0 0 1em 0);
  $header-color:map-nested-get-default($map,header,color,#797979);
  $header-height:map-nested-get-default($map,header,height,50px);
  $header-padding:map-nested-get-default($map,header,padding,.25em 0 0 2em);
  $header-fixed-offset:map-nested-get-default($map,header,fixed-offset,20px);
  $divider-color:map-nested-get-default($map,divider,color,#797979);
  $item-padding:map-nested-get-default($map,item,padding,.75em 1em);
  $item-color:map-nested-get-default($map,item,color,#ddd);
  $item-color-hover:map-nested-get-default($map,item,color-hover,#8a8a8a);
  $dropdown-item-padding:map-nested-get-default($map,dropdown,item-padding,.5em 0 .5em 4em);
  $dropdown-item-color:map-nested-get-default($map,dropdown,item-color,#ddd);
  $dropdown-item-color-hover:map-nested-get-default($map,dropdown,item-color-hover,#8a8a8a);
  $button-icon-color:map-nested-get-default($map,button-icon,color,#797979);
  $button-icon-right:map-nested-get-default($map,button-icon,right,20px);
  $button-icon-top:map-nested-get-default($map,button-icon,top,10px);

  $tag:ui-sidebar;
  @include element-tag($tag:$tag,$tags:$tags,$class:$class){
    @include _ui-sidebar(
                    $background,
                    $width,
                    $padding,
                    $header-color,
                    $header-height,
                    $header-padding,
                    $header-fixed-offset,
                    $divider-color,
                    $item-padding,
                    $item-color,
                    $item-color-hover,
                    $dropdown-item-padding,
                    $dropdown-item-color,
                    $dropdown-item-color-hover,
                    $button-icon-color,
                    $button-icon-right,
                    $button-icon-top
    );
    @content;
  }

}
