@import "../base/common-web-component";


///@private
@mixin _ui-social($color:null,
$margin:null,
$padding:null,
$justification:null,
$alignment:null,
$font-size:null,
$item-padding: null,
$item-margin:null,
$facebook-color:null,
$twitter-color:null,
$google-color:null,
$github-color:null
) {

      @include flexbox($justification: $justification, $alignment: $alignment);
      list-style: none;
      padding: $padding;
      margin:$margin;
      social-icon {
        padding: $item-padding;
        margin:$item-margin;
        position:relative;
        font-size:$font-size;
        color:$color;
        a {
          color:$color;
          font-size:$font-size;
        }
      }
      &.color{
        social-icon{
          padding:0;
          margin:$item-margin;
          font-size:$font-size;
          a{
            font-size:$font-size;
            &.facebook{
              color:$facebook-color;
            }
            &.twitter{
              color:$twitter-color;
            }
            &.google{
              color:$google-color;
            }
            &.github{
              color:$github-color;
            }
          }
        }
      }
}


///@public
/// @param {String} $component
/// @param {List} $tags
/// @param {String} $class
/// @param {Map} $map

//$map:(
//        margin:<value>,
//        padding:<value>,
//        font-size:<value>,
//        justification:<value>,
//        alignment:<value>,
//        facebook:(
//                color:<value>
//        ),
//        twitter:(
//                color:<value>
//        ),
//        google:(
//                color:<value>
//        ),
//        github:(
//                color:<value>
//        ),
//        item:(
//                padding:<value>,
//                margin:<value>
//        )
//)


@mixin ui-social($component:css-social,$tags:null,$class:null,$map:()) {

  $_color:map-get-default($map,color,#bbb);
  $margin:map-get-default($map,margin,0);
  $padding:map-get-default($map,padding,0);
  $font-size:map-get-default($map,font-size,32px);
  $justification:map-get-default($map,justification,flex-start);
  $alignment:map-get-default($map,alignment,center);
  $facebook-color:map-nested-get-default($map,facebook,color,#3b5998);
  $twitter-color:map-get-default($map,twitter-color,#5ec5fb);
  $google-color:map-get-default($map,google-color,#d23e2b);
  $github-color:map-get-default($map,github-color,#020202);
  $item-padding:map-nested-get-default($map,item,padding,0 .7em 0 .7em);
  $item-margin:map-nested-get-default($map,item,margin,0 .5em 0 .5em);

  $tag:ui-social;
  @include element-tag($tag:$tag,$tags:$tags,$class:$class){
    @include _ui-social($_color,
            $margin,
            $padding,
            $justification,
            $alignment,
            $font-size,
            $item-padding,
            $item-margin,
            $facebook-color,
            $twitter-color,
            $google-color,
            $github-color

    );

    @content;
  }


}























