@import "../base/common-web-component";

///@private
@mixin _ui-tip($background: null, $border-color: null, $right: null, $top: null, $position: null, $width: null) {

  position: $position;
  top: $top;
  right: $right;
  $pseudo-right: 2*$width + 1;
  $sm-width:$width - 1;
  $after-top:$width - 2;

  &.hide {
    display: none;
  }
  &:before {
    content: ' ';
    border-style: solid;
    border-width: 0 #{$sm-width}px #{$width}px #{$sm-width}px;
    border-color: transparent transparent $border-color transparent;
    position: absolute;
    top: -#{$width}px;
    right: #{$pseudo-right}px;
  }
  &:after {
    content: ' ';
    border-style: solid;
    border-width: 0 #{$sm-width}px #{$sm-width}px #{$sm-width}px;
    border-color: transparent transparent $background transparent;
    position: absolute;
    top: -#{$after-top}px;
    right: #{$pseudo-right}px;
  }

}

///@public
/// @param {String} $template-tag
/// @param {String} $class
/// @param {Map} $map
/// $map:(
///         background:<value>,
///         border-color:<value>,
///         right:<value>,
///         top: <value>,
///         position: <value>,
///         width:<value>
/// )
@mixin ui-tip($tags:null,$class: null,$map:() ) {

  $_white:map-get($Base,white);
  $_gray:map-get($Base,gray);

  $background:map-get-default($map,background,$_white);
  $border-color:map-get-default($map,border-color,$_gray);
  $right: map-get-default($map,right,5px);
  $top: map-get-default($map,top,0);
  $position: map-get-default($map,position,absolute);
  $width:map-get-default($map,width,15);

  $tag:ui-tip;
  @include element-tag($tag:$tag,$tags:$tags,$template-tag:null,$class:$class){
    @include _ui-tip($background, $border-color, $right, $top, $position, $width);
    @content;
  }

  @include touch-content(){
    ui-tip {
      display:none;
    }
  }

}