@import "../base/common-web-component";

///@private
@mixin _ui-tooltip($component: null,
$position:null,
$border-radius: null,
$padding:null,
$font-size:null,
$z-index:null,
$tip-color:null
) {
  position:$position;
  font-size:$font-size;
  padding:$padding;
  border-radius:$border-radius;
  z-index:$z-index;
  @include web-component-base($component:$component);
  canvas{
    position:absolute;
    left:0;
    color:$tip-color;
  }

  display:none;
}



/// @public

/// $map:(
///   position:<value>,
///   border-radius:<value>,
///   padding:<value>,
///   font-size:<value>,
///   z-index:<value>,
///   tip:(
///      color:<value>
///   )
/// )
@mixin ui-tooltip($component:primary,$class:null,$map:()) {
  $_tip-color:map-nested-get($Core,primary,color);
  $_border-radius:get-border-radius();
  $_z-index:get-z-index();
  $position:map-get-default($map,position,absolute);
  $border-radius: map-get-default($map,border-radius,$_border-radius);
  $padding:map-get-default($map,padding,.2em .5em .2em .5em);
  $font-size:map-get-default($map,font-size,.8em);
  $z-index:map-get-default($map,z-index,$_z-index + 99999);
  $tip-color:map-get-default($map,tip-color,$_tip-color);

  .data-tooltip {
    @if $class != null{
      &.#{$class} {
        @include _ui-tooltip($component, $position,$border-radius, $padding,$font-size,$z-index,$tip-color);
        @content;
      }
    } @else {
      @include _ui-tooltip($component,$position,$border-radius,$padding,$font-size,$z-index,$tip-color);
      @content;
    }

    @include touch-content(){
      display:none;
    }
  }

  .ui-tooltip{
    cursor:pointer;
  }
}

///@public
@mixin ui-tooltip-font($font-family:null) {
  .data-tooltip{
    font-family: $font-family;
    @content;
  }
}