@import "../base/common-web-component";

///@private
@mixin _touch-ui-menu($component:null,
$z-index:null,
$padding:null,
$item-border-bottom:null,
$item-padding:null,
$item-link-padding:null,
$item-link-transform:null,
$icon-font-size:null,
$icon-padding:null,
$icon-expand-top:null,
$icon-expand-right:null,
$icon-expand-font-size:null,
$icon-font-family:null,
$icon-hide:null,
$icon-dropdown:null

){

  $_dropdown-margin-left: margin-left($item-padding);
  $_dropdown-margin-top: margin-top($item-padding);
  $_dropdown-margin-bottom: margin-bottom($item-padding);


  @extend %#{$component}-background !optional;
  display: block;
  list-style: none;
  padding: $padding;
  width: 100%;

  menu-item,menu-item-dropdown {
    border: 0;
    border-bottom: $item-border-bottom;
    padding: $item-padding;
    margin-right:0;
    display:list-item;
    @extend %#{$component}-font !optional;
    @extend %#{$component}-border !optional;
    &:last-child {
      border-bottom: 0;
    }
    a {
      text-transform: $item-link-transform !important;
      text-decoration: none !important;
      padding: $item-link-padding;
      @extend %#{$component}-font !optional;
      &:hover, &:focus {
        text-transform: $item-link-transform !important;
        text-decoration: none !important;
      }
      &:active {
        text-transform: $item-link-transform !important;
        text-decoration: none !important;
      }
      &.active {
        text-transform: $item-link-transform !important;
        text-decoration: none !important;
      }
    }
    &>span {
      &.touch,&[class*='icon-'] {
        font-size: $icon-font-size;
        padding: $icon-padding;
        @extend %#{$component}-icon !optional;
      }
    }
    &.label {
      display: none;
    }
  }
  menu-item-search{
    display:none;
  }
  menu-divider{
    display:none;
  }
  menu-item-dropdown {
    position: relative;
    &:after {
      position: absolute;
      font-family: $icon-font-family;
      content: "#{$icon-dropdown}";
      top: $icon-expand-top;
      right: $icon-expand-right;
      font-size: $icon-expand-font-size;
      @extend %#{$component}-icon !optional;
    }
    &.close {
      &:after {
        content: "#{$icon-hide}";
      }
    }
    &>ui-dropdown,&>touch-ui-dropdown,&>ui-mega-dropdown{
      height: auto;
      margin-top:$_dropdown-margin-top !important;
      margin-left:-#{$_dropdown-margin-left} !important;
      margin-bottom:-#{$_dropdown-margin-bottom} !important;
      &>menu-item{
        margin-left:$_dropdown-margin-left !important;
      }
    }
  }
}










///@public
/// @param {String} $component
/// @param {List} $tags
/// @param {String} $template-tag
/// @param {String} $class
/// @param {Map} $map
/// $map:(
///         z-index:<value>,
///         padding:<value>,
///         item:(
///                 border-bottom:<value>,
///                 padding:<value>,
///                 link-padding:<value>,
///                 link-transform:<value>
///         ),
///         icon:(
///                 font-size:<value>,
///                 padding:<value>,
///                 expand-top:<value>,
///                 expand-right:<value>,
///                 expand-font-size:<value>,
///                 font-family:<value>,
///                 hide:<value>,
///                 dropdown:<value>
///         )
/// )
@mixin touch-ui-menu($component:css-touch-menu,$tags:null,$template-tag:null,$class:null,$map:()){

  $_icon-font-family:map-get($Icons,font-family);
  $_icon-dropdown:map-get($Icons,dropdown);
  $_icon-hide:map-get($Icons,hide);
  $_z-index:get-z-index();

  $z-index:map-get-default($map,z-index,$_z-index + 98);
  $padding:map-get-default($map,padding,58px 0 0 0);
  $item-border-bottom:map-nested-get-default($map,item,border-bottom,1px solid);
  $item-padding:map-nested-get-default($map,item,padding,20px 0 20px 20px);
  $item-link-padding:map-nested-get-default($map,item,padding,0);
  $item-link-transform:map-nested-get-default($map,item,link-transform,none);
  $icon-font-size:map-nested-get-default($map,icon,font-size,map-get($Component,touch-icon-size));
  $icon-padding:map-nested-get-default($map,icon,padding,0 10px 0 0);
  $icon-expand-top:map-nested-get-default($map,icon,expand-top,20px);
  $icon-expand-right:map-nested-get-default($map,icon,expand-right,20px);
  $icon-expand-font-size:map-nested-get-default($map,icon,expand-font-size,1em);
  $_icon-font-family:map-nested-get-default($map,icon,font-family,$_icon-font-family);
  $_icon-hide:map-nested-get-default($map,icon,font-family,$_icon-hide);
  $_icon-dropdown:map-nested-get-default($map,icon,font-family,$_icon-dropdown);


  $tag:touch-ui-menu;
  @include element-tag($tag:$tag,$tags:$tags,$template-tag:$template-tag,$class:$class){
    @include _touch-ui-menu($component,
            $z-index,
            $padding,
            $item-border-bottom,
            $item-padding,
            $item-link-padding,
            $item-link-transform,
            $icon-font-size,
            $icon-padding,
            $icon-expand-top,
            $icon-expand-right,
            $icon-expand-font-size,
            $_icon-font-family,
            $_icon-hide,
            $_icon-dropdown
    );
    @content;
  }

  @include desktop-content(){
    touch-ui-menu{
      display:none;
    }
  }
}
