@import "../base/common-web-component";

/// @access private
@mixin _touch-ui-menu($component:null,
$z-index:null,
$padding:null,
$item-padding:null,
$item-link-padding:null,
$item-link-transform:null,
$item-icon-padding:null,
$icon-font-family:null,
$icon-font-size:null,
$icon-top:null,
$icon-right:null,
$icon-up:null,
$icon-down:null

){

  $_dropdown-margin-left: margin-left($item-padding);
  $_dropdown-margin-top: margin-top($item-padding);
  $_dropdown-margin-bottom: margin-bottom($item-padding);


  @extend %#{$component}-background !optional;
  display: block;
  list-style: none;
  padding: $padding;
  width: 100%;

  menu-item,menu-item-dropdown {
    border-left: 0;
    border-right:0;
    border-top:0;
    padding: $item-padding;
    margin-right:0;
    display:list-item;
    @extend %#{$component}-font !optional;
    @extend %#{$component}-border !optional;
    a {
      text-decoration: none !important;
      padding: $item-link-padding;
      @extend %#{$component}-font !optional;
      &:hover, &:focus {
        text-decoration: none !important;
      }
      &:active {
        text-decoration: none !important;
      }
      &.active {
        text-decoration: none !important;
      }
    }
    &>span {
      &.touch,&[class*='icon-'] {
        padding: $item-icon-padding;
      }
    }
    &.label {
      display: none;
    }
  }
  menu-item-search{
    display:none;
  }
  menu-divider{
    display:none;
  }
  menu-item-dropdown {
    position: relative;
    &:after {
      position: absolute;
      font-family: $icon-font-family;
      @include content-icon($icon-down);
      top: $icon-top;
      right: $icon-right;
      font-size: $icon-font-size;
      @extend %#{$component}-icon !optional;
    }
    &.close {
      &:after {
        @include content-icon($icon-up);
      }
    }
    &>ui-dropdown,&>touch-ui-dropdown,&>ui-mega-dropdown{
      height: auto;
      margin-top:$_dropdown-margin-top !important;
      margin-left:-#{$_dropdown-margin-left} !important;
      margin-bottom:-#{$_dropdown-margin-bottom} !important;
      &>menu-item{
        margin-left:$_dropdown-margin-left !important;
      }
    }
  }
}





/// @access public
/// @param {String} $component
/// @param {List} $tags
/// @param {String} $class
/// @param {Map} $map
/// $map:(
///         z-index:<value>,
///         padding:<value>,
///         item:(
///                 padding:<value>,
///                 link-padding:<value>,
///                 link-transform:<value>,
///                 icon-padding:<value>
///         ),
///         icon:(
///                 font-family:<value>,
//                  font-size:<value>,
///                 top:<value>,
///                 right:<value>,
///                 down:<value>,
///                 up:<value>
///         )
/// )
@mixin touch-ui-menu($component:css-touch-menu,$tags:null,$class:null,$map:()){

  $_icon-font-family:content;
  $_icon-down:map-get($Content-Icons,down-arrow);
  $_icon-up:map-get($Content-Icons,up-arrow);
  $_z-index:get-z-index();
  $_icon-size:24px;

  $z-index:map-get-default($map,z-index,$_z-index + 98);
  $padding:map-get-default($map,padding,0 0 0 0);
  $item-padding:map-nested-get-default($map,item,padding,20px 0 20px 20px);
  $item-link-padding:map-nested-get-default($map,item,padding,0);
  $item-link-transform:map-nested-get-default($map,item,link-transform,none);
  $item-icon-padding:map-nested-get-default($map,icon,padding,0 10px 0 0);
  $icon-font-size:map-nested-get-default($map,icon,font-size,$_icon-size);
  $icon-top:map-nested-get-default($map,icon,top,20px);
  $icon-right:map-nested-get-default($map,icon,right,20px);
  $icon-font-family:map-nested-get-default($map,icon,font-family,$_icon-font-family);
  $icon-up:map-nested-get-default($map,icon,up,$_icon-up);
  $icon-down:map-nested-get-default($map,icon,down,$_icon-down);


  $tag:touch-ui-menu;
  @include element-tag($tag:$tag,$tags:$tags,$class:$class){
    @include _touch-ui-menu($component,
            $z-index,
            $padding,
            $item-padding,
            $item-link-padding,
            $item-link-transform,
            $item-icon-padding,
            $icon-font-family,
            $icon-font-size,
            $icon-top,
            $icon-right,
            $icon-up,
            $icon-down
    );
    @content;
  }

  @include desktop-content(){
    touch-ui-menu{
      display:none;
    }
  }
}
