@import "../base/common-web-component";
@import "../settings/touch";

///@private
@mixin _touch-ui-dropdown($component:null,
$item-padding:null,
$item-font-size:null,
$item-border-bottom:null

){

  list-style: none;
  height: auto;
  display: none;
  @extend %#{$component}-background !optional;
  @extend %#{$component}-box-shadow !optional;
  &.show{
    display:block;
    z-index:1;
  }
  menu-item{
    padding:$item-padding;
    border:0;
    border-bottom:$item-border-bottom;
    display:list-item;
    @extend %#{$component}-border !optional;
    &:last-child{
      border-bottom:0;
    }
    @include span-icon(){
      margin-right:.5em;
    }
    a{
      font-size:$item-font-size;
      text-decoration:none;
      @extend %#{$component}-font !optional;
      &:hover,&:focus{
        @extend %#{$component}-font !optional;
        text-decoration:none;
      }
      &:active{
        text-decoration:none;
      }
      &.active{
        text-decoration:none;
      }
    }
  }
}


@mixin touch-icon($size:32px,$color:map-nested-get($Touch-Menu,dropdown,font-color)){
  .touch-icon{
    color:$color !important;
    font-size:$size !important;
  }
}


///@public
/// @param {String} $component
/// @param {List} $tags
/// @param {String} $class
/// @param {Map} $map
///    $map:(
///
///         item:(
///              padding:<value>,
///              border-bottom:<value>,
///              font-size:<value>
///         )
///    )
@mixin touch-ui-dropdown($component:css-touch-dropdown,$tags:null,$class:null,$map:()){
  $item-padding:map-nested-get-default($map,item,padding,20px 0 20px 20px);
  $item-font-size:map-nested-get-default($map,item,font-size,14px);
  $item-border-bottom:map-nested-get-default($map,item,border-bottom,1px dashed);

  @include touch-content(){
    $tag:touch-ui-dropdown;
    @include element-tag($tag:$tag,$tags:$tags,$class:$class){
      @include _touch-ui-dropdown($component,$item-padding,$item-font-size,$item-border-bottom);
      @content;
    }
  }



}