@import "../base/common-web-component";

/// @access private
@mixin _touch-ui-navbar($component:null,
$position:null,
$height:null,
$z-index:null,
$font-size:null,
$brand-font:null,
$brand-margin:null,
$icon-font-size:null,
$icon-margin:null,
$bar-alignment:null,
$brand-alignment:null,
$icon-alignment:null
){
  margin:0;
  position:$position;
  @if $position != relative {
    z-index:$z-index;
    top:0;
    left:0;
  }
  &>nav{
    display:none !important;
  }
  font-size:$font-size;
  &>touch-bar{
    height:$height;
    @include web-component-base($component:$component,$include-font:false);
    @include flexbox($justification: center, $alignment:$bar-alignment);
    border-left:0;
    border-right:0;
    border-top:0;
    touch-ui-brand{
      @include flexbox($justification: center, $alignment:$brand-alignment);
      margin-top:$brand-margin;
      height:$height;
      h1,h2,h3,h4,h5,h6{
        margin:0;
        @extend %#{$component}-font !optional;
      }
      h4{
        font:$brand-font;
      }
    }
    .touch-right,touch-icons{
      list-style: none;
      position:absolute;
      top:0;
      right:25px;
      @include flexbox($justification: center, $alignment:$icon-alignment);
      height:100%;
      &>touch-icon{
        display:list-item;
      }

    }
  }


}