@import "../base/common-web-component";
@import "../settings/button";


/// @access private
@mixin _window-phone-breakpoint($tiny-padding){
  header {
    width: 100%;
    height: 30px;
    margin: 0;
    position: relative;
    h3 {
      font-size: 12px;
      text-align: center;
      margin: 0;
      padding-top: 2px;
    }
    .close {
      font-size: 1rem;
      padding: 5px 8px;
    }
  }
  section {
    padding: 10px;
    height: 70%;
    padding-bottom: 30px;
  }
  footer {
    padding: 6px 9px 9px;
    margin-bottom: 0;
    text-align: right;
    min-height: 20px;
    .ui-button {
      padding: $tiny-padding;
      font-size:.7em !important;
    }
    .ui-button + .ui-button {
      margin-left: 5px;
      margin-bottom: 0;
      padding: $tiny-padding;
    }
  }
}

/// @access private
@mixin _ui-window($component:null,$header-component:null,$close-component:null,$footer-component:null,
$border-radius:null,
$z-index:null,
$width:null,
$height:null,
$top:null,
$header-height:null,
$section-padding:null,
$footer-padding:null

) {

  $_window-margin-left:$width/2;

  width: $width;
  height: $height;
  border-radius: $border-radius;
  border-bottom:0 !important;
  border-left:0 !important;
  border-right:0 !important;
  background-clip: padding-box;
  position: fixed;
  top: $top;
  left: 50%;
  margin-left: -#{$_window-margin-left};
  z-index: $z-index;
  outline: none;
  display: none;

  &.show{
    display:block;
  }
  @include web-component-base($component:$component,$include-font:false);
  &.no-shadow {
    box-shadow:none;
  }
  &>header {
    width: 100%;
    height: $header-height;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-top:0 !important;
    border-left:0 !important;
    border-right:0 !important;
    margin: 0;
    position: relative;
    @include web-component-base($component:$header-component,$include-box-shadow:false,$include-font:false);
    h3 {
      font-size: 14px;
      text-align: center;
      margin: 0;
      padding-top: 10px;
      @extend %#{$header-component}-font !optional;
    }
    .close {
      position: absolute;
      right: 0;
      top: 0;
      border-top:0 !important;
      border-bottom:0 !important;
      border-right:0 !important;
      border-top-right-radius: $border-radius;
      width: 35px;
      height: 35px;
      font-size: 1.1rem;
      padding: 8px 11px;
      @include web-component-base($component:$close-component,$include-background:false);
      @include web-component-hover($component:$close-component,$include-border:false,$include-box-shadow:false);
      &:hover {
        cursor: pointer;
        @include transition(0.15s background linear);
        @include transition(0.15s color linear);
      }
    }
  }
  &>section {
    position: relative;
    overflow-y: auto;
    padding: $section-padding;
    width: 100%;
    height: 90%;
    @include web-component-base($component:$component,$include-box-shadow:false,$include-border:false);
    h2,h3,h4,h5{
      @extend %#{$component}-font !optional;
    }
    h5{
      font-weight:bold;
    }
  }
  &>footer {
    padding:$footer-padding;
    margin-bottom: 0;
    text-align: right;
    border-bottom:0 !important;
    border-left: 0 !important;
    border-right:0 !important;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    @include web-component-base($component:$footer-component,$include-font:false);
    .ui-button + .ui-button {
      margin-left: 5px;
      margin-bottom: 0;
    }
  }


}

/// @access public
/// @param {String} $component
/// @param {String} $header-component
/// @param {String} $close-component
/// @param {String} $footer-component
/// @param {List} $tags
/// @param {String} $class
/// @param {Map} $map
///  $map:(
///     border-radius:<value>,
///     z-index:<value>,
///     width:<value>,
///     height:<value>,
///     top:<value>,
///     header:(
///        height:<value>
///     ),
///     section:(
///        padding:<value>,
///     ),
///     footer:(
///        padding:<value>
///     )
///  )
///
@mixin ui-window($component:css-window,$header-component:css-window-header,$close-component:css-window-close,
$footer-component:css-window-footer,$tags:null,$class:null,$map:()) {

  $_tiny-padding:map-get($Button,tiny-padding);
  $_z-index:get-z-index() + 9999999;
  $_border-radius:get-border-radius();
  $border-radius:map-get-default($map,border-radius,$_border-radius);
  $z-index:map-get-default($map,z-index,$_z-index);
  $width:map-get-default($map,width,560px);
  $height:map-get-default($map,height,520px);
  $top:map-get-default($map,top,100px);
  $header-height:map-nested-get-default($map,header,height,35px);
  $section-padding:map-nested-get-default($map,section,padding,1em 1em 80px 1em);
  $footer-padding:map-nested-get-default($map,footer,padding,14px 1em 1em);

  $tag:ui-window;
  @include element-tag($tag:$tag,$tags:$tags,$class:$class){
    @include _ui-window($component,$header-component,$close-component,$footer-component,
            $border-radius,$z-index,$width,$height,$top,$header-height,$section-padding,$footer-padding);

    @content;
  }

  ui-window[hide-buttons]{
    &>footer{
      min-height:50px;
      &>button{
        display:none;
      }
    }
  }

  @include phone-content(){
    ui-window {
      width: 300px !important;
      height: 340px !important;
      top: 70px;
      left: 50% !important;
      margin-left: -150px !important;
      @include _window-phone-breakpoint($_tiny-padding);
    }
  }
  @include phone-landscape-content(){
    ui-window {
      width: 380px !important;
      height: 240px !important;
      top: 40px;
      left: 50% !important;
      margin-left: -190px !important;
      @include _window-phone-breakpoint($_tiny-padding);
    }
  }
}