$grid-width: 1300px !default;
$grid-column-gutter: 30px !default;
$grid-columns: 12 !default;
$grid-touch-horizontal-constrain:true !default;

$Grid: (
        width:$grid-width,
        column-gutter:$grid-column-gutter,
        columns:$grid-columns,
        touch-horizontal-constrain:$grid-touch-horizontal-constrain
);