
$icon-font-family:elliptical !default;
$icon-search:\e01a !default;
$icon-search-2:\e0ec !default;
$icon-checkmark:\e035 !default;
$icon-radio:\e158 !default;
$icon-dropdown:\e1a9 !default;
$icon-hide:\e1aa !default;
$icon-toggle:\e1f3 !default;
$icon-toggle-16:\e1f4 !default;
$icon-down-arrow:\e1a2 !default;
$icon-up-arrow:\e1a0 !default;
$icon-down-arrow-2:\e00e  !default;
$icon-up-arrow-2:\e00c !default;
$icon-next:\e1a8  !default;
$icon-previous:\e1a7  !default;
$icon-down:\e1a5 !default;
$icon-up:\e1a6 !default;
$icon-back:\e1a7 !default;
$icon-forward:\e1a8 !default;
$icon-remove:\e0db !default;
$icon-plus:\e095 !default;
$icon-minus:\e093 !default;
$icon-indicator-active:\e158 !default;
$icon-indicator: \e05d !default;
$icon-facebook:\e14a !default;
$icon-facebook-2:\e227 !default;
$icon-twitter:\e14e !default;
$icon-twitter-2:\e228 !default;
$icon-google:\e145 !default;
$icon-google-2:\e229 !default;
$icon-github:\e160 !default;
$icon-github-2:\e16f !default;


$Icons:(
        font-family:$icon-font-family,
        search:$icon-search,
        search-2:$icon-search-2,
        checkmark:$icon-checkmark,
        radio:$icon-radio,
        dropdown:$icon-dropdown,
        hide:$icon-hide,
        toggle:$icon-toggle,
        toggle-16:$icon-toggle-16,
        down-arrow:$icon-down-arrow,
        down-arrow-2:$icon-down-arrow-2,
        up-arrow:$icon-up-arrow,
        up-arrow-2:$icon-up-arrow-2,
        next:$icon-next,
        previous:$icon-previous,
        down:$icon-down,
        up:$icon-up,
        back:$icon-back,
        forward:$icon-forward,
        remove:$icon-remove,
        plus:$icon-plus,
        minus:$icon-minus,
        indicator-active:$icon-indicator-active,
        indicator:$icon-indicator,
        facebook:$icon-facebook,
        facebook-2:$icon-facebook-2,
        twitter:$icon-twitter,
        twitter-2:$icon-twitter-2,
        google:$icon-google,
        google-2:$icon-google-2,
        github:$icon-github,
        github-2:$icon-github-2
);
