
$icon-font-family:elliptical !default;
$icon-search:map-get($Core-Icons,search) !default;
$icon-check:map-get($Core-Icons,checkmark) !default;
$icon-down:map-get($Core-Icons,arrow-down) !default;
$icon-up:map-get($Core-Icons,arrow-up) !default;
$icon-right:map-get($Core-Icons,arrow-right) !default;
$icon-left:map-get($Core-Icons,arrow-left) !default;
$icon-chevron-down:map-get($Core-Icons,chevron-down)  !default;
$icon-chevron-up:map-get($Core-Icons,chevron-up) !default;
$icon-chevron-right:map-get($Core-Icons,chevron-right)  !default;
$icon-chevron-left:map-get($Core-Icons,chevron-left)  !default;
$icon-plus:map-get($Core-Icons,add) !default;
$icon-minus:map-get($Core-Icons,minus) !default;
$icon-circle-fill:map-get($Core-Icons,circle-filled) !default;
$icon-circle:map-get($Core-Icons,circle) !default;
$icon-close:map-get($Core-Icons,cross) !default;


$Icons:(
        font-family:$icon-font-family,
        search:$icon-search,
        check:$icon-check,
        down:$icon-down,
        up:$icon-up,
        chevron-down:$icon-chevron-down,
        chevron-up:$icon-chevron-up,
        right:$icon-right,
        left:$icon-chevron-left,
        chevron-right:$icon-chevron-right,
        chevron-left:$icon-chevron-left,
        plus:$icon-plus,
        minus:$icon-minus,
        circle:$icon-circle,
        circle-fill:$icon-circle-fill,
        close:$icon-close

);
