@import "breakpoints";
@import "grid";

$_include-desktop-medium: map-get($Breakpoint, include-desktop-medium);
$_touch-device-width: map-get($Breakpoint, tablet);
$_desktop-device-width: $_touch-device-width + 1;
$_desktop-medium: map-get($Breakpoint, desktop-medium);
$_desktop-medium-height: map-get($Breakpoint, desktop-medium-height);
$_touch-device-max-height: $_desktop-medium-height - 1;
$_medium: map-get($Breakpoint, medium);
$_large: map-get($Breakpoint,x-large);
$_small-portrait: map-get($Breakpoint, smartphone-portrait);

///screen
$media-screen: "only screen" !default;

///smartphone
$media-phone: "only screen and (max-width: #{map-get($Breakpoint,smartphone)})" !default;

///smartphone-landscape
$media-phone-landscape: "only screen and (max-width: #{map-get($Breakpoint,smartphone)}) and (orientation:landscape)" !default;

///smartphone-portrait
$media-phone-portrait: "only screen and (max-width: #{map-get($Breakpoint,smartphone-portrait)}) and (orientation:portrait)" !default;

///tablet
$media-tablet: "only screen and (max-width: #{map-get($Breakpoint,tablet)}) and (min-width: #{map-get($Breakpoint,smartphone)})" !default;

///tablet-landscape
$media-tablet-landscape: "only screen and (max-width: #{map-get($Breakpoint,tablet)}) and (min-width: #{map-get($Breakpoint,smartphone)}) and (orientation:landscape)" !default;

///tablet-portrait
$media-tablet-portrait: "only screen and (max-width: #{map-get($Breakpoint,tablet-portrait)}) and (min-width: #{map-get($Breakpoint,smartphone)}) and (orientation:portrait)" !default;

///medium
$media-medium: "only screen and (max-width: #{$_medium}) and (min-width: #{map-get($Breakpoint,smartphone)})" !default;

///landscape
$media-landscape: "only screen and (orientation: landscape)" !default;

///portrait
$media-portrait: "only screen and (orientation: portrait)" !default;

///touch
$media-touch: "only screen and (max-width: #{map-get($Breakpoint,tablet)}) and (min-width: #{map-get($Breakpoint,smartphone-portrait)})" !default;

@if $_include-desktop-medium==true {
  $media-touch: "only screen and (max-width: #{$_desktop-medium}) and (min-width: #{$_small-portrait}),only screen and (max-width:#{$_touch-device-width}) and (max-height:#{$_touch-device-max-height}) and (orientation:landscape),only screen and (max-width:#{$_touch-device-width}) and (min-width:#{$_small-portrait}) and (orientation:portrait)";
};

///desktop
$media-desktop: "only screen and (min-width: #{map-get($Breakpoint,desktop)})" !default;
@if $_include-desktop-medium==true {
  $media-desktop: "only screen and (min-width:#{$_large}) and (min-height:#{$_desktop-medium-height}) and (orientation:landscape),only screen and (min-width:#{$_desktop-device-width})";
};

///large
$media-large: "only screen and (max-width: #{$_large})" !default;

///grid contain
$media-grid: "only screen and (max-width:#{map-get($Grid,width)}) and (min-width: #{map-get($Breakpoint,desktop)})" !default;

///tabs
$media-tabs: "only screen and (min-width: #{map-get($Breakpoint,tabs)})" !default;

///x-large
$media-x-large:"only screen and (min-width: #{map-get($Breakpoint,x-large)})" !default;

$Media: (
        screen:$media-screen,
        touch:$media-touch,
        phone:$media-phone,
        small:$media-phone,
        phone-landscape:$media-phone-landscape,
        phone-portrait:$media-phone-portrait,
        tablet:$media-tablet,
        tablet-landscape:$media-tablet-landscape,
        tablet-portrait:$media-tablet-portrait,
        desktop:$media-desktop,
        large:$media-large,
        tabs:$media-tabs,
        grid:$media-grid,
        medium:$media-medium,
        x-large:$media-x-large
);





