@import "base";
@import "document";
@import "core";

$_gray:map-get($Base,gray);
$_off-black:map-get($Base,off-black);
$_white:map-get($Base,white);
$_off-white:map-get($Base,off-white);
$_gray-medium:map-get($Base,gray-medium);
$_gray-medium-light:map-get($Base,gray-medium-light);
$_gray-dark:map-get($Base,gray-dark);
$_gray-light:map-get($Base,gray-light);
$_font-color:map-get($Document,font-color);
$_black:map-get($Base,black);
$_dark-light:map-get($Base,dark-light);
$_dark-medium:map-get($Base,dark-medium);
$_transparent:map-get($Base,transparent);
$_primary-color:map-nested-get($Core,primary,color);


//input
$theme-input-background: $_white !default;
$theme-input-color: $_font-color !default;
$theme-input-border: 1px solid #d6d6d6 !default;
$theme-input-border-hover: 1px solid $_primary-color !default;
$theme-input-placeholder-color: #d4d4d4 !default;
$theme-input-alt-box-shadow: #f4f4f4 0 0 0 4px !default;
$theme-input-border-active:1px solid $_primary-color !default;



//checkbox
$theme-checkbox-color: $_off-black !default;
$theme-checkbox-border: 2px solid $_gray !default;
$theme-checkbox-icon-color: #5c5c5c !default;

//switch
$theme-switch-background: $_white, #fefefe !default;
$theme-switch-background-active: #00e02a !default;
$theme-switch-border: $_gray $_gray #bbb $_gray !default;
$theme-switch-border-active: darken($theme-switch-background-active, 10%) !default;

//switch toggle
$theme-switch-toggle-border-active: 2px solid darken($_gray, 10%) !default;

//file input
$theme-input-file-background: $_off-white !default;
$theme-input-file-font-color: #aaa !default;
$theme-input-file-font-color-active: $_gray-medium-light !default;
$theme-input-file-border: 5px dashed $_gray !default;
$theme-input-file-border-hover: 5px dashed darken($_gray, 10%) !default;

//datepicker
$theme-datepicker-background: ($_white, #f5f5f5);
$theme-datepicker-icon-color: #bbb;
$theme-datepicker-button-background: #f5f5f5 !default;

//dropdown
$theme-dropdown-background: $_white, #fcfcfc !default;
$theme-dropdown-font-color: $_gray-medium !default;
$theme-dropdown-background-disabled: none !default;
$theme-dropdown-border: $_gray-light $_gray-light #bbb $_gray-light !default;

//divider
$theme-divider-background: $_gray !default;
$theme-divider-border: #f2f2f2 !default;

//tabs
$theme-tabs-background: $_gray-light !default;
$theme-tabs-background-active: $_white !default;
$theme-tabs-border: 1px solid $_gray-light !default;
$theme-tabs-border-active: 1px solid $_gray-light !default;
$theme-tabs-font-color: $_font-color !default;
$theme-tabs-font-color-active: $theme-tabs-font-color !default;

//rating
$theme-rating-font-color: $_font-color !default;
$theme-rating-empty-color: $_gray-light !default;

//social
$theme-social-background: $_transparent !default;
$theme-social-border: none !default;
$theme-social-icon-color: #bbb !default;
$theme-social-icon-text-shadow: rgba(0, 0, 0, .80) 0 -1px 0 !default;

//css-bar
$theme-bar-background: $_gray_medium !default;
$theme-bar-font-color: $_white !default;
$theme-bar-text-shadow: none !default;
$theme-bar-border: 0 !default;
$theme-bar-box-shadow: none !default;

//menu
$theme-menu-background-hover: $_black !default;
$theme-menu-font-color: $_gray !default;
$theme-menu-font-color-hover: $_gray !default;
$theme-menu-font-color-active: $_gray !default;

//menu-divider
$theme-menu-divider-background: none !default;
$theme-menu-divider-border: lighten($theme-bar-background, 10%) !default;

//window
$theme-window-background: $_white !default;
$theme-window-font-color: $_font-color !default;
$theme-window-border: 1px solid $_white !default;
$theme-window-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3) !default;

//window header
$theme-window-header-background: #f7f7f7, #f5f5f5 !default;
$theme-window-header-font-color: $_gray-medium-light !default;
$theme-window-header-text-shadow: 0px 2px 3px $_white !default;
$theme-window-header-border: 1px solid $_gray-light !default;

//window close
$theme-window-close-background: #f5f5f5 !default;
$theme-window-close-background-hover: $_off-white !default;
$theme-window-close-font-color: #b4b4b4 !default;
$theme-window-close-font-color-hover: #8f8f8f !default;
$theme-window-close-text-shadow: 0px 1px 0px $_white !default;
$theme-window-close-border: 1px solid $_gray-light !default;
$theme-window-close-box-shadow: inset 1px 0 0 rgba(255, 255, 255, .5) !default;

//window footer
$theme-window-footer-text-shadow: none !default;
$theme-window-footer-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5) !default;

//sliding panel
$theme-sliding-panel-background: $_white !default;
$theme-sliding-panel-font-color: $_font-color !default;
$theme-sliding-panel-border: 0 !default;
$theme-sliding-panel-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3) !default;

//collapse
$theme-collapse-background: #e0e0e0 !default;
$theme-collapse-border: 2px solid #e0e0e0 !default;

//collapse header
$theme-collapse-header-background: #f4f4f4 !default;
$theme-collapse-header-font-color: $_font-color !default;
$theme-collapse-header-font-color-hover: $theme-collapse-header-font-color !default;
$theme-collapse-header-font-color-active:$theme-collapse-header-font-color-hover !default;
$theme-collapse-header-background-active:$theme-collapse-header-background !default;

//collapse section
$theme-collapse-section-background: $_white !default;
$theme-collapse-section-font-color: $_font-color !default;

//oauth
$theme-oauth-font-color:$_white !default;
$theme-oauth-google:#dd4b39 !default;
$theme-oauth-facebook:#44619d !default;
$theme-oauth-twitter:#55acee !default;

//flex-grid
$theme-flex-grid-background:$_white !default;
$theme-flex-grid-font-color:$_font-color !default;
$theme-flex-grid-border:#dfdfdf !default;

//flex-table
$theme-flex-table-background:$_white !default;
$theme-flex-table-font-color:$_font-color !default;
$theme-flex-table-border:#dfdfdf !default;

//grid-pagination
$theme-grid-pagination-background:$_white !default;
$theme-grid-pagination-font-color:#787878 !default;
$theme-grid-pagination-text-shadow:0 0 0 #787878 !default;
$theme-grid-pagination-border:1px solid #dadada !default;
$theme-grid-pagination-background-hover:#8ebc00 !default;
$theme-grid-pagination-font-color-hover:$_white !default;
$theme-grid-pagination-text-shadow-hover:0 0 0 $_white !default;
$theme-grid-pagination-border-hover:1px solid #8ebc00 !default;
$theme-grid-pagination-icon-color:#bbb !default;
$theme-grid-pagination-icon-color-hover:#8ebc00 !default;


//touch theme
$theme-touch: white !default;


$Theme: (
        input:(
                background:$theme-input-background,
                color:$theme-input-color,
                border:$theme-input-border,
                border-hover:$theme-input-border-hover,
                placeholder-color:$theme-input-placeholder-color,
                alt-box-shadow:$theme-input-alt-box-shadow,
                border-active:$theme-input-border-active,
        ),
        checkbox:(
                color:$theme-checkbox-color,
                border:$theme-checkbox-border,
                icon-color:$theme-checkbox-icon-color
        ),
        switch:(
                background:$theme-switch-background,
                background-active:$theme-switch-background-active,
                border:$theme-switch-border,
                border-active:$theme-switch-border-active
        ),
        switch-toggle:(
                border-active:$theme-switch-toggle-border-active
        ),
        input-file:(
                background:$theme-input-file-background,
                font-color:$theme-input-file-font-color,
                font-color-active:$theme-input-file-font-color-active,
                file-border:$theme-input-file-border,
                file-border-hover:$theme-input-file-border-hover
        ),
        datepicker:(
                background:$theme-datepicker-background,
                icon-color:$theme-datepicker-icon-color,
                button-background:$theme-datepicker-button-background
        ),
        dropdown:(
                background:$theme-dropdown-background,
                font-color:$theme-dropdown-font-color,
                background-disabled:$theme-dropdown-background-disabled,
                border:$theme-dropdown-border
        ),
        divider:(
                background:$theme-divider-background,
                border:$theme-divider-border
        ),
        tabs:(
                background:$theme-tabs-background,
                background-active:$theme-tabs-background-active,
                border:$theme-tabs-border,
                border-active:$theme-tabs-border-active,
                font-color:$theme-tabs-font-color,
                font-color-active:$theme-tabs-font-color-active
        ),
        rating:(
                font-color:$theme-rating-font-color,
                empty-color:$theme-rating-empty-color
        ),
        social:(
                background:$theme-social-background,
                border:$theme-social-border,
                icon-color:$theme-social-icon-color,
                icon-text-shadow:$theme-social-icon-text-shadow
        ),
        bar:(
                background:$theme-bar-background,
                font-color:$theme-bar-font-color,
                text-shadow:$theme-bar-text-shadow,
                border:$theme-bar-border,
                box-shadow:$theme-bar-box-shadow
        ),
        menu:(
                background-hover:$theme-menu-background-hover,
                font-color:$theme-menu-font-color,
                font-color-hover:$theme-menu-font-color-hover,
                font-color-active:$theme-menu-font-color-active
        ),
        menu-divider:(
                background:$theme-menu-divider-background,
                border:$theme-menu-divider-border
        ),
        window:(
                background:$theme-window-background,
                font-color:$theme-window-font-color,
                border:$theme-window-border,
                box-shadow:$theme-window-box-shadow
        ),
        window-header:(
                background:$theme-window-header-background,
                font-color:$theme-window-header-font-color,
                text-shadow:$theme-window-header-text-shadow,
                border:$theme-window-header-border
        ),
        window-close:(
                background:$theme-window-close-background,
                background-hover:$theme-window-close-background-hover,
                font-color:$theme-window-close-font-color,
                font-color-hover:$theme-window-close-font-color-hover,
                text-shadow:$theme-window-close-text-shadow,
                border:$theme-window-close-border,
                box-shadow:$theme-window-close-box-shadow
        ),
        window-footer:(
                text-shadow:$theme-window-footer-text-shadow,
                box-shadow:$theme-window-footer-box-shadow
        ),
        sliding-panel:(
                background:$theme-sliding-panel-background,
                font-color:$theme-sliding-panel-font-color,
                border:$theme-sliding-panel-border,
                box-shadow:$theme-sliding-panel-box-shadow
        ),
        collapse:(
                background:$theme-collapse-background,
                border:$theme-collapse-border
        ),
        collapse-header:(
                background:$theme-collapse-header-background,
                font-color:$theme-collapse-header-font-color,
                font-color-hover:$theme-collapse-header-font-color-hover,
                font-color-active:$theme-collapse-header-font-color-active,
                background-active:$theme-collapse-header-background-active
        ),
        collapse-section:(
                background:$theme-collapse-section-background,
                font-color:$theme-collapse-section-font-color
        ),
        oauth:(
                font-color:$theme-oauth-font-color,
                google:$theme-oauth-google,
                facebook:$theme-oauth-facebook,
                twitter:$theme-oauth-twitter
        ),
        flex-grid:(
                background:$theme-flex-grid-background,
                font-color:$theme-flex-grid-font-color,
                border:$theme-flex-grid-border
        ),
        flex-table:(
                background:$theme-flex-table-background,
                font-color:$theme-flex-table-font-color,
                border:$theme-flex-table-border
        ),
        grid-pagination:(
                background:$theme-grid-pagination-background,
                font-color:$theme-grid-pagination-font-color,
                text-shadow:$theme-grid-pagination-text-shadow,
                border:$theme-grid-pagination-border,
                background-hover:$theme-grid-pagination-background-hover,
                font-color-hover:$theme-grid-pagination-font-color-hover,
                text-shadow-hover:$theme-grid-pagination-text-shadow-hover,
                border-hover:$theme-grid-pagination-border-hover,
                icon-color:$theme-grid-pagination-icon-color,
                icon-color-hover:$theme-grid-pagination-icon-color-hover
        ),
        touch:(
                theme:$theme-touch
        )
);