@import "../utilities/prefixer";

@mixin animation($name) {
  -webkit-animation-name:$name;
  -moz-animation-name:$name;
  -o-animation-name:$name;
  animation-name:$name;
}

@mixin animation-duration($duration:350ms){
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
}

@mixin animation-delay($delay:0){
  -webkit-animation-delay:$delay;
  -moz-animation-delay:$delay;
  -o-animation-delay:$delay;
  animation-delay:$delay;
}

///@public
///@param {Number} $iteration
@mixin animation-iteration($iteration:1){
  -webkit-animation-iteration-count:$iteration;
  -moz-animation-iteration-count:$iteration;
  -o-animation-iteration-count:$iteration;
  animation-iteration-count:$iteration;
}

///@public
///@param {Number} $duration
//@param {Number} $delay
///@param {Number} $iteration
@mixin animation-props($duration:1s,$delay:0,$iteration:1){
  @include animation-duration($duration);
  @include animation-delay($delay);
  @include animation-iteration($iteration);
}

///@public
@mixin animation-backface-visibility(){
  -webkit-backface-visibility: visible !important;
  -moz-backface-visibility: visible !important;
  -o-backface-visibility: visible !important;
  backface-visibility: visible !important;
}


///@public
///@param {String} $easing
@mixin animation-timing-function($easing:ease-in){
  -webkit-animation-timing-function: $easing;
  -moz-animation-timing-function:$easing;
  -o-animation-timing-function:$easing;
  animation-timing-function:$easing;
}

///@public
///@param {Number} $duration
@mixin animated($duration:350ms) {
  @include animation-duration($duration);
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}


///@public
///@param {String} $name
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }

}