@import "../settings/base";

$_justification:map-get($Base,flex-justification);
$_alignment:map-get($Base,flex-alignment);

///@public
///@param {String} $alignment
///@param {String} $justification
@mixin flexbox($alignment:$_alignment,$justification:$_justification){
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content: $justification;
  justify-content:$justification;
  -webkit-align-items: $alignment;
  align-items: $alignment;
  @content;
}

///@public
///@param {String} $alignment
///@param {String} $justification
@mixin flexbox-column($alignment:$_alignment,$justification:$_justification){
  display:-webkit-flex;
  display:flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: $justification;
  justify-content:$justification;
  -webkit-align-items: $alignment;
  align-items: $alignment;
  @content;
}

///@public
///@param {String} $alignment
///@param {String} $justification
@mixin flexbox-inline($alignment:$_alignment,$justification:$_justification){
  display:-webkit-inline-flex;
  display:inline-flex;
  -webkit-justify-content: $justification;
  justify-content:$justification;
  -webkit-align-items: $alignment;
  align-items: $alignment;
  @content;
}

///@public
///@param {String} $justification
@mixin justify-content($justification: $_justification) {
  -webkit-justify-content: $justification;
  justify-content:$justification;
}

///@public
///@param {String} $alignment
@mixin align-items($alignment: $_alignment) {
  -webkit-align-items: $alignment;
  align-items: $alignment;
}

///@public
///@param {String} $alignment
@mixin align-self($alignment: $_alignment) {
  -webkit-align-self: $alignment;
  align-self: $alignment;
}

///@public
///@param {String} $alignment
@mixin align-content($alignment: $_alignment) {
  -webkit-align-content: $alignment;
  align-content: $alignment;
}

///@public
///@param {Number} $order
@mixin order($order: 1) {
  -webkit-order: $order;
  order:$order;
}

///@public
///@param {List} $amount
@mixin flex($amount: 1) {
  -webkit-flex: $amount;
  flex:$amount;
}

///@public
///@param {Number} $amount
@mixin flex-grow($amount: 1) {
  -webkit-flex-grow: $amount;
  flex-grow: $amount;
}

///@public
///@param {Number} $amount
@mixin flex-shrink($amount: 1) {
  -webkit-flex-shrink: $amount;
  flex-shrink: $amount;
}

///@public
///@param {Length} $amount
@mixin flex-basis($amount: 1) {
  -webkit-flex-basis: $amount;
  flex-basis: $amount;
}

///@public
///@param {String} $direction
@mixin flex-direction($direction:row) {
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

///@public
///@param {String} $wrap
@mixin flex-wrap($wrap: wrap) {
  -webkit-flex-wrap: $wrap;
  flex-wrap:$wrap;
}

///supports not for flex-wrap
@mixin no-support-flex-wrap(){
  @supports not (flex-wrap: wrap) {
    @content;
  }
}