@import "../utilities/functions";

@mixin box-sizing($v:border-box){
  -moz-box-sizing: $v;
  -webkit-box-sizing: $v;
  box-sizing: $v;
}

@mixin _linear-gradient($direction:to bottom,$list:(#fff,#f2f2f2)){
  background-image: -webkit-linear-gradient($direction,$list);
  background-image: linear-gradient($direction,$list);
}

@mixin linear-gradient($direction:to bottom,$list:(#fff,#f2f2f2)){
  background-image: -webkit-linear-gradient($direction,$list);
  background-image: linear-gradient($direction,$list);
}

@mixin column-count($c){
  -webkit-column-count: $c;
  column-count: $c;
}

@mixin column-gap($g){
  -webkit-column-gap: $g;
  column-gap: $g;
}