@import "../settings/grid";
@import "breakpoints";
@import "../css3/flexbox";

@mixin gutter-bleed(){
  $_column-gutter:map-get($Grid,column-gutter);
  margin-right: - $_column-gutter/2 !important;
  margin-left: - $_column-gutter/2 !important;
  width:108%;
  @content;
}

@mixin gutter-bleed-padding($padding-left:1.5em,$padding-right:1.5em){
  $_column-gutter:map-get($Grid,column-gutter);
  margin-right: - $_column-gutter/2 !important;
  margin-left: - $_column-gutter/2 !important;
  padding-left:$padding-left;
  padding-right:$padding-right;
  width:110%;
  @content;
}

@mixin gutter-collapse(){
  padding-left:0;
  padding-right:0;
  @content;
}

@mixin touch-gutter-bleed(){
  @include touch-content(){
    @include gutter-bleed();
    @content;
  }
}

@mixin touch-gutter-bleed-padding($padding-left:1.5em,$padding-right:1.5em){
  @include touch-content(){
    @include gutter-bleed-padding($padding-left,$padding-right);
    @content;
  }
}

@mixin touch-gutter-collapse(){
  @include touch-content(){
    @include gutter-collapse();
    @content;
  }
}





@mixin utilities-grid() {
  .contain-to-grid {
    max-width: map-get($Grid,width) - map-get($Grid,column-gutter);
    margin: 0 auto;
  }

  .gutter-bleed {
    @include touch-gutter-bleed();
  }

  .gutter-bleed-padding {
    @include touch-gutter-bleed-padding();
  }

  .gutter-collapse {
    @include touch-gutter-collapse();
  }

  .screen-gutter-bleed{
    @include gutter-bleed();
  }

  .screen-gutter-collapse{
    @include gutter-collapse();
  }


  @include tablet-content(){
    .tablet-flex{
      @include flexbox($justification:center);

    }
  }

}

