@import "../settings/document";


//strips unit
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

//converts a value to em
@function convert-to-em($value, $base-value: map-get($Document, font-size)) {
  $value: strip-unit($value) / strip-unit($base-value) * 1em;
  @if ($value == 0em) {
    $value: 0;
  }
  @return $value;
}

@function em-calc($values, $base-value: map-get($Document, font-size)) {
  $max: length($values);
  @if $max == 1 {
    @return convert-to-em(nth($values, 1), $base-value);
  }

  $emValues: ();
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i), $base-value));
  }
  @return $emValues;
}

@function grid-calc($column-number, $total-columns) {
  @return percentage(($column-number / $total-columns));
}

