
/// mixin for generating element outer css wrapper class scope, given the 5 input params
/// @access public
/// @param {String} $tag
/// @param {List} $tags
/// @param {String} $template-tag
/// @param {String} $class
@mixin element-tag($tag:null,$tags:null,$template-tag:null,$class:null){

  $component-tags:null;
  @if $tag !=null{
    $component-tags:$tag;
  }
  @if $tags != null {
    $component-tags: append($component-tags,$tags, comma);
  }

  #{$component-tags}{
    @if $class != null{
      &.#{$class} {
        @if $template-tag != null {
          &>#{$template-tag}{
            @content;
          }
        }@else{
          @content;
        }
      }
    }@else{
      @if $template-tag != null {
        &>#{$template-tag}{
          @content;
        }
      }@else{
        @content;
      }
    }
  }

}